
.cta-button{
  .display-inline-block;

  .brandon-bold;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: @light-blue;
  position: relative;

  &:hover{
    color: @light-blue;
    .opacity(0.4);
  }

  .fa{
    .display-inline-block;
    width: 15px;
    height: 18px;
    text-align: center;
    line-height: 18px;

    font-size: 11px;
    margin-left: 4px;

    position: relative;
    top: 1px;

    color: @light-blue;
  }
}


.is-ie{
  .cta-button{
    .fa{
      top: 0;
    }
  }
}


.cta-back-button{
  .display-inline-block;

  .brandon-bold;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: @light-blue;

  &:hover{
    color: @light-blue;
    .opacity(0.4);
  }

  .fa{
    .display-inline-block;
    width: 15px;
    height: 18px;
    text-align: center;
    line-height: 18px;

    font-size: 11px;
    margin-right: 4px;

    position: relative;
    top: 1px;

    color: @light-blue;
  }
}




.cta-small-button{
  .display-inline-block;

  .brandon-light;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0em;
  //letter-spacing: -0.02em;

  color: @light-blue;

  &:hover{
    color: @light-blue;
    .opacity(0.4);
  }

  .fa{
    .display-inline-block;
    width: 15px;
    height: 18px;
    text-align: center;
    line-height: 16px;

    font-size: 11px;
    margin-left: 5px;

    position: relative;
    top: 1px;

    color: @light-blue;
  }
}


.cta-small-v2-button{
  .display-inline-block;

  .brandon-light;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0em;
  //letter-spacing: -0.02em;

  color: @light-blue;

  &:hover{
    color: @light-blue;
    .opacity(0.4);
  }

  .fa{
    .display-inline-block;
    width: 15px;
    height: 18px;
    text-align: center;
    line-height: 16px;

    font-size: 12px;
    margin-left: 5px;

    position: relative;
    top: 2px;

    color: @light-blue;
  }
}


.circle-button-container{
  height: 40px;
  line-height: 40px;
  font-size: 0;
  text-align: center;

  .fa{
    font-size: 7px;
    width: 8px;
    line-height: 40px;

    color: @light-blue;
    .opacity(0.4);
    cursor: pointer;

    margin-right: 12px;

    &:last-child{
      margin-right: 0px;
    }

    &:hover{
      .opacity(1);
    }

    &.selected{
      .opacity(1);
    }
  }


}



.cta-solid-button{
  .display-inline-block;

  .brandon-bold;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 0.1em;

  color: @white;
  background: @light-blue;
  position: relative;

  height: 24px;
  padding: 0 13px;



  &:hover{
    color: @white;
    background: @dark-brown;
    .opacity(1);
  }

}



.back-to-top-button{
  background: @light-blue;
  width: 40px;
  height: 40px;

  cursor: pointer;
  //.transition-in(0.4s);
  .transition-in-single(background, 0.4s);

  text-align: center;

  position: relative;

  &:hover{
    background: @dark-brown; 
  }

  .fa{
    color: @white;

    position: absolute;
    top: 5px;
    left: 0px;
    width: 40px;
    font-size: 12px;
  }

  p{
    .brandon-black;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: @white;

    position: absolute;
    top: 22px;
    left: 0px;
    width: 40px;
  }




}




//       _    ____  ____   _____        __
//      / \  |  _ \|  _ \ / _ \ \      / /
//     / _ \ | |_) | |_) | | | \ \ /\ / / 
//    / ___ \|  _ <|  _ <| |_| |\ V  V /  
//   /_/   \_\_| \_\_| \_\\___/  \_/\_/   
//                                        

@animation_inc: 0.1;

.down-scroll-arrow{
  width: 30px;
  height: 30px;
  .round(100px);
  //background: #000000;
  //background: rgba(0, 0, 0, 0.2);
  //
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);

  //background: #1595d3;
  //background: rgba(21, 149, 211, 0.2);
  

  .transition-in();
  .scale(1.2);

  &:hover{
    background: rgba(255, 255, 255, 0.7);
    //background: rgba(0,0,0, 0.7);
    //background: rgba(21, 149, 211, 0.7);
    //background: rgba(255, 255, 255, 0.3);
  }

  position: fixed;
  bottom: 32px;
  left: 50%;
  margin-left: -15px;
  margin-top: -30px;
  cursor: pointer;

  .arrow-01,
  .arrow-02,
  .arrow-03{
    .icon_blog_scroll_down_for_more_arrow;
    position: absolute;
    top: 0px;
    left: 10px;

    -webkit-animation: scroll_for_more_animation 1.4s infinite ease-in-out;
    animation: scroll_for_more_animation 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;                  // Prevent first frame from flickering when animation starts
    animation-fill-mode: both;

  }

  .arrow-01{
    top: 7px;
    -webkit-animation-delay: unit((-1*@animation_inc*3),s);
    animation-delay: unit((-1*@animation_inc*2),s);
  }
  .arrow-02{
    top: 13px;
    -webkit-animation-delay: unit((-1*@animation_inc*2),s);
    animation-delay: unit((-1*@animation_inc*2),s);
  }
  .arrow-03{
    top: 19px;
    -webkit-animation-delay: unit((-1*@animation_inc*1),s);
    animation-delay: unit((-1*@animation_inc*1),s);
  }
}








//@media only screen and (max-width: 769px) {
@media only screen and (max-width: 991px) {
  .down-scroll-arrow{
    display: none;
  }
}