#main-page-footer{

  background: #f9f9f9;
  margin-top: 80px;  

} // #main-page-footer


#new-footer-item-container{
  width: 100%;
  min-height: 240px;

  font-size: 0px;
  text-align: center;

  .new-footer-item{
    

    .display-inline-block;
    width: 100px;
    height: 240px;
    position: relative;

    padding-top: 35px;
    text-align: left;

    &.new-footer-item-border{
      margin-left: 55px;
      margin-right: 55px;
      width: 1px;

      &:after{
        content: "";
        display: block;
        position: absolute;
        top: 29px;
        bottom: 17px;
        left: 0;

        border-right: 1px solid @dark-brown-10;
      }

    }


    h3{
      //.notera;
      .dearjoe;
      //font-size: 40px;
      font-size: 30px;
      line-height: 40px;
      color: @light-blue;
      //letter-spacing: -0.02em;
      letter-spacing: -0.07em;

      margin-bottom: 9px;
    }
    h4{
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.15em;

      margin-bottom: 0px;
    }

    a{
      color: @dark-brown;
      &:hover{
        color: @light-blue;
      }
    }

  } //.new-footer-item

} // #new-footer-item-container


//    _     ___   ____  ___  
//   | |   / _ \ / ___|/ _ \ 
//   | |  | | | | |  _| | | |
//   | |__| |_| | |_| | |_| |
//   |_____\___/ \____|\___/ 
//                           

#new-footer-item-container .new-footer-item{
  &#footer-locations{
    padding-top: 41px;
    width: 200px;
    width: 198px;

    #footer-montigo-logo{
      color: transparent;
      .logo_montigo_footer_color;
      display: block;

      margin-top: -2px;
      margin-bottom: 20px;

      &:hover{
        .opacity(0.6);
      }
    }

    .footer-location{
      display: block;
      margin-bottom: 17px;
      text-align: center;
      width: 203px;

      margin-left: -2px;

      h6{
        .brandon-bold;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }
      p{
        .brandon-regular;
        font-size: 10px;
        line-height: 15px;
        text-transform: uppercase;
        letter-spacing: .1em;

      }
    }

  }
}

//    _     ___ _   _ _  ______  
//   | |   |_ _| \ | | |/ / ___| 
//   | |    | ||  \| | ' /\___ \ 
//   | |___ | || |\  | . \ ___) |
//   |_____|___|_| \_|_|\_\____/ 
//                               

#new-footer-item-container .new-footer-item{
  &#footer-links{
    width: 512px;
    margin-right: -49px;

    h3{
      //margin-left: -3px;
      margin-left: -9px;
    }

    .footer-item-container{
      max-width: 512px;
      left: 11px;
    }

    &:after{
      right: 2px;
    }
    
    nav{
      padding-top: 3px;
      position: relative;
      //padding-left: 6px;

      ul{
        font-size: 0;
        margin-right: -54px;

        li{
          
          line-height: 18px;
          margin-bottom: 7px;

          a{
            
            .brandon-bold;
            text-transform: uppercase;
            
            font-size: 11px;
            line-height: 18px;
            letter-spacing: 0.1em;
            display: block;

          }
        }
      }
    }


  }
}

//    ____ ___ ____ _   _ _   _ ____  
//   / ___|_ _/ ___| \ | | | | |  _ \ 
//   \___ \| | |  _|  \| | | | | |_) |
//    ___) | | |_| | |\  | |_| |  __/ 
//   |____/___\____|_| \_|\___/|_|    
//                                    

#new-footer-item-container .new-footer-item{
  &#footer-signup{
    //width: 314px;
    width: 290px;
    padding-top: 30px;
    
    h3{
      padding-top: 4px;
      padding-bottom: 4px;

      position: relative;
      //margin-left: 40px;
      padding-left: 40px;
      left: -40px;
    }
    h4{
      margin-bottom: -3px;
    }

    p{
      .brandon-light;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.03em;
      
      padding-top: 6px;
      margin-bottom: 16px;
    }


    #footer-mailing-form{

      input[type=text]{

        -webkit-appearance: none;
        border-radius: 0;

        .brandon-regular-italic;
        font-size: 13px;
        line-height: 30px;
        color: #7a5946;
        padding: 0 8px;

        height: 30px;
        width: 255px;
        border: 1px solid @light-blue;

        &::-webkit-input-placeholder{ color: #7a5946; .transition-in(); }
        &:-moz-placeholder{ color: #7a5946; .transition-in(); }
        &::-moz-placeholder{ color: #7a5946; .transition-in(); }

        &:focus{
          &::-webkit-input-placeholder{ color: transparent; }
          &:-moz-placeholder{ color: transparent; }
          &::-moz-placeholder{ color: transparent; }
        }

      } // input[type=text]


      #footer-mailing-form-submit{
        color: @light-blue;
        font-size: 16px;

        .display-inline-block;
        position: relative;
        background: none;
        border: none;

        top: 6px;
        left: 1px;
        .transition-in();

        &:hover{
          color: @dark-brown;
        }

      } // #footer-mailing-form-submit=

    } // #footer-mailing-form

  }
}




//     ____ ___  ______   ______  ___ ____ _   _ _____ 
//    / ___/ _ \|  _ \ \ / /  _ \|_ _/ ___| | | |_   _|
//   | |  | | | | |_) \ V /| |_) || | |  _| |_| | | |  
//   | |__| |_| |  __/ | | |  _ < | | |_| |  _  | | |  
//    \____\___/|_|    |_| |_| \_\___\____|_| |_| |_|  
//                                                     

#footer-copyright{
  background: #514947;
  //text-align: center;

  //padding-top: 10px;
  //padding-bottom: 11px;

  #footer-copyright-text{
    padding-top: 15px;
    //padding-left: 15px;
    //padding-left: 48px;
    
    text-align: left;

    position: relative;
    //left: 40px;

    p{
      .brandon-bold;
      font-size: 10px;
      line-height: 15px;
      color: @white;
      text-transform: uppercase;
      letter-spacing: 0.09em;
      .opacity(0.6);
    }
  }

  #footer-copyright-logo-container{
    text-align: right;


    //position: relative;
    //left: 40px;

    ul{
      font-size: 0;
      //padding-right: 8px;
      //padding-right: 78px;

      li{

        .display-inline-block;
        height: 60px;

        .footer-logo{
          &:hover{
            .opacity(0.7);
          }
        }

      }
    }

    .footer-logo-boutique{

    }
    .footer-logo-aqua-voyage{
      margin-left: 20px;
    }
    .footer-logo-trip-advisor{
      margin-left: 18px;
      margin-right: -9px;
    }

  }

  
}




//    ____  _____ ____  ____   ___  _   _ ____ _____     _______ 
//   |  _ \| ____/ ___||  _ \ / _ \| \ | / ___|_ _\ \   / / ____|
//   | |_) |  _| \___ \| |_) | | | |  \| \___ \| | \ \ / /|  _|  
//   |  _ <| |___ ___) |  __/| |_| | |\  |___) | |  \ V / | |___ 
//   |_| \_\_____|____/|_|    \___/|_| \_|____/___|  \_/  |_____|
//                                                               




@media only screen and (max-width: 1260px) {
  #new-footer-item-container .new-footer-item.new-footer-item-border{
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media only screen and (max-width: 1120px) {
  #new-footer-item-container .new-footer-item{
    .scale(0.8);
    margin: 0 -10px;
  }
  #new-footer-item-container .new-footer-item.new-footer-item-border{
    margin-left: 5px;
    margin-right: 5px;
    .scale(1);
  }
  /*
  #new-footer-item-container .new-footer-item.new-footer-item-border{
    margin-left: 5px;
    margin-right: 5px;
    .scale(1);
  }
  */

}


@media only screen and (max-width: 993px) {
  #new-footer-item-container{
    padding-bottom: 40px;
  }

  #new-footer-item-container .new-footer-item{
    display: block;
    margin: 0 auto !important;
    height: auto;
    .scale(1);
  }
  #new-footer-item-container .new-footer-item.new-footer-item-border{
    height: 0;
    margin: 25px 0 !important;
    width: 100%;
    padding-top: 0;

    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 25px;
      right: 25px;
      //width: 100%;

      border-top: 1px solid @dark-brown-10;
      border-right: none;
    }

  }

  #new-footer-item-container .new-footer-item#footer-locations{
    left: -15px;
  }
    
  #new-footer-item-container .new-footer-item#footer-links h3{
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    padding-left: 40px;
    left: -40px;
  }
  #new-footer-item-container .new-footer-item#footer-links{
    width: 100%;
    //max-width: 300px;
    max-width: 288px;

  }
  #new-footer-item-container .new-footer-item#footer-links nav ul{
    margin-right: 0;
  }
  #new-footer-item-container .new-footer-item#footer-links nav ul li{
    margin-bottom: 0;
  }
  


  

  #footer-mailing-form{
    //margin-right: -30px;
    
  }
  #new-footer-item-container .new-footer-item#footer-signup #footer-mailing-form #footer-mailing-form-submit{
    margin-right: -30px;
  }

}



@media only screen and (max-width: 769px) {
  #footer-copyright #footer-copyright-text{
    //.scale(0.8);
    //.transform-origin(0%,0%);
    margin-right: -35px;

    padding-top: 15px;
    padding-bottom: 15px;

    p{
      //.brandon-light;
      font-size: 8px;
      line-height: 12px;
    }
  }
  #footer-copyright #footer-copyright-logo-container{
    //padding-top: 10px;
    padding-top: 13px;

    //.scale(0.8);
    //.transform-origin(100%,0%);
    //margin-left: -100px;
  }
  #footer-copyright #footer-copyright-logo-container ul li{
    height: auto;
  }
  #footer-copyright #footer-copyright-logo-container .footer-logo-aqua-voyage{
    margin-left: 0px;
  }
  #footer-copyright #footer-copyright-logo-container .footer-logo-trip-advisor{
    margin-left: 5px;
    margin-right: -3px;
  }

}