#main-page-footer{

  // suyeon
  background: #f9f9f9;
  margin-top: 80px;

  // general
  .footer-item{
    position: relative;
    //text-align: center;
    //padding-top: 64px;
    //padding-top: 26px;
    padding-top: 35px;
    //min-height: 323px;
    //min-height: 219px;
    min-height: 206px;
    

    .footer-item-container{
      max-width: 300px;
      margin: 0 auto;
    }

    
    &.has-border{
      &:after{
        content: "";
        display: block;
        position: absolute;
        //top: 37px;
        top: 29px;
        bottom: 21px;
        right: -15px;

        border-right: 1px solid @dark-brown-10;
      }
    }

    

    h3{
      //.notera;
      .dearjoe;
      //font-size: 40px;
      font-size: 30px;
      line-height: 40px;
      color: @light-blue;
      letter-spacing: -0.02em;

      margin-bottom: 9px;
    }
    h4{
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.15em;

      margin-bottom: 0px;
    }

    a{
      color: @dark-brown;
      &:hover{
        color: @light-blue;
      }
    }
  } // .footer-item


  #footer-montigo-logo{
    color: transparent;
    //.logo_montigo_footer_grey;
    .logo_montigo_header_color;
    display: block;
    margin: 0 auto;

    //position: relative;
    //left: -7px;
  }


  /*
  #footer-locations{
    padding-top: 41px;
    p{
      .brandon-light;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;

      padding-top: 6px;
      //margin-bottom: 24px;
      margin-top: 21px;
      //margin-bottom: 26px;
    }
  }
  */
  #footer-locations{
    padding-top: 41px;

    .footer-item-container{
      margin: 0;
    }

    #footer-montigo-logo{
      margin: 0;
      //margin-bottom: 16px;
      margin-bottom: 28px;
    }

    .footer-location{
      display: block;
      margin-bottom: 13px;
      text-align: center;
      width: 203px;


      h6{
        .brandon-bold;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }
      p{
        .brandon-regular;
        font-size: 10px;
        line-height: 15px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
    }

  }


  #footer-links{
    
    nav{
      padding-top: 3px;
      position: relative;
      padding-left: 10px;

      ul{
        font-size: 0;
        margin-right: -46px;
        //margin-right: -100px;

        li{
          //display: block;
          width: 50%;
          .display-inline-block;

          line-height: 18px;
          margin-bottom: 6px;

          a{
            //.brandon-medium;
            //font-size: 10px;
            //line-height: 17px;
            .brandon-black;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            font-size: 11px;
            line-height: 18px;
            letter-spacing: 0.15em;

            display: block;

          }
        }
      }
    }
  }

  #footer-signup{
    //padding-top: 26px;
    padding-top: 30px;

    h3{
      padding-top: 4px;
      padding-bottom: 4px;
      letter-spacing: -.03em;
    }
    h4{
      margin-bottom: -2px;
    }

    p{
      .brandon-light;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.03em;
      
      padding-top: 6px;
      //margin-bottom: 24px;
      margin-bottom: 14px;
    }


    #footer-mailing-form{

      input[type=text]{
        .brandon-regular-italic;
        font-size: 13px;
        line-height: 30px;
        color: #7a5946;
        //text-align: center;
        //text-align: left;
        padding: 0 8px;

        height: 30px;
        //width: 156px;
        //width: 47%;
        width: 255px;
        //border: 1px solid #dbaf7d;
        border: 1px solid @light-blue;

        &::-webkit-input-placeholder{ color: #7a5946; .transition-in(); }
        &:-moz-placeholder{ color: #7a5946; .transition-in(); }
        &::-moz-placeholder{ color: #7a5946; .transition-in(); }

        &:focus{
          &::-webkit-input-placeholder{ color: transparent; }
          &:-moz-placeholder{ color: transparent; }
          &::-moz-placeholder{ color: transparent; }
        }

      } // input[type=text]

      /*
      input[type=submit]{
        position: relative;
      }
      */
     

      #footer-mailing-form-submit{
        color: @light-blue;
        //font-size: 12px;
        font-size: 16px;

        .display-inline-block;
        position: relative;
        background: none;
        border: none;


        //top: 4px;
        //top: 2px;
        top: 6px;
        //left: 1px;
        left: 1px;
        .transition-in();


        .fa-angle-right{
          //font-size: 10px;
          font-size: 12px;
          color: @white;

          display: block;
          position: absolute;
          top: 2px;
          //top: 1px;
          left: 11px;
        }

        &:hover{
          color: @dark-brown;
        }

      } // #footer-mailing-form-submit


    } // #footer-mailing-form

  } // #footer-signup

  #footer-instagram{
    display: none;

    .footer-instagram-title{
      background: #f6f6f6;
      text-align: center;

      padding-top: 8px;
      padding-bottom: 9px;

      h3{
        //.notera;
        .dearjoe;
        font-size: 45px;
        line-height: 45px;
      }
      h4{
        .brandon-bold;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
      }
    }
    ul{
      width: 100%;
      font-size: 0;

      li{
        //width: 12.5%;
        width: 10%;
        .display-inline-block();

        a{
          display: block;
          width: 100%;
          position: relative;
          color: #ffffff;

          img{
            display: block;
            width: 100%;
            height: auto;
          }

          .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;

            .opacity(0);
            .transition-in();
            
            .overlay-container-2{
              display: table;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              position: absolute;
              z-index: 10;
            }

            &:after{
              content: "";
              display: block;
              background: #000000;
              .opacity(0.5);
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 5;
            }

            .overlay-container{
              display: table-cell;
              vertical-align: middle;

              .fa{
                margin-right: 9px;
                font-size: 13px;
                position: relative;
                top: 1px;
              }
            }

            .likes{
              .brandon-regular;
              font-size: 12px;
              line-height: 21px;
              letter-spacing: 0.35em;
            }
            .comments{
              .brandon-regular;
              font-size: 12px;
              line-height: 21px;
              letter-spacing: 0.35em;

            }
          }

          &:hover{
            .overlay{
              .opacity(1);
            }
          }

        } // a

      }
    }
  }


  #footer-copyright{
    background: #514947;
    text-align: center;

    padding-top: 5px;
    padding-bottom: 3px;

    ul{
      display: block;
      
      margin-bottom: -4px;

      li{
        .display-inline-block;
        margin-right: 26px;
        position: relative;

        &:after{
          content: "";
          display: block;
          position: absolute;
          top: 3px;
          right: -15px;
          width: 0px;
          height: 12px;
          border-right: 1px solid @white;
          .opacity(0.4);
        }

        &:last-child{
          margin-right: 0;

          &:after{
            display: none;
          }
        }

        a{
          display: block;

          .brandon-regular;
          font-size: 10px;
          line-height: 20px;
          color: @white;
          text-transform: uppercase;
          letter-spacing: 0.1em;


          .opacity(0.4);

          &:hover{
            .opacity(1);
          }
        }

      }
    }
    p{
      .brandon-regular;
      font-size: 10px;
      line-height: 20px;
      color: @white;
      text-transform: uppercase;
      letter-spacing: 0.12em;

      .opacity(0.4);

      
    }
  }

} // #main-page-footer