@light-brown: #dbaf7d;
@dark-brown: #514947;
@dark-brown-2: #7a5946;

@white: #fff;
@skin: #fbf7f2;


////@light-blue: #9acaff;         // previous color ^_^
//@light-blue: #1595d3;
@light-blue: #22aae8;                                                       // if you change this, do change the 'percent' alpha of the others
@light-blue-05: #f4fbfe;
@light-blue-20: #d3eefa;
@light-blue-40: #a7ddf6;
@light-blue-50: #90d4f3;




@dark-brown-10: #edecec;

@light-grey: #f9f9f9;
@dark-grey: #857f7e;

html, body{
  .brandon-light;
  color: @dark-brown;
  font-size: 16px;
  line-height: 20px;
  background: #fff;
  letter-spacing: -0.01em;
}


a{
  color: @light-blue;
  text-decoration: none !important;
  .transition-in();
}




h3{
  .dearjoe;
  font-size: 30px;
  line-height: 40px;
}
h4{
  .brandon-black;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}








.fadeout{
  //.opacity(0);
  .opacity(1);
}


.fadein-top{
  position: relative;
  top: 25px;
  .opacity(0);

  //cursor: pointer;
}

.fadein-left{
  left: 20px;
  .opacity(0);
}

.fadein-right{
  left: -20px;
  .opacity(0);
}



body, html{
  width: 100%;
  height: 100%;
}









.img-full-width{
  width: 100%;
  height: auto;
}

.margin-less-image{
  margin: 0 -15px;
}

.no-right-margin{
  margin-right: -15px;
  margin-left: 15px;
}
.no-left-margin{
  margin-left: -15px;
  margin-right: 15px;
}

.no-left-right-margin{
  margin-left: 15px;
  margin-right: 15px;
}


hr.short-hr{
  border: none;
  outline: none;
  width: 19px;
  height: 3px;
  background: @dark-brown;
}


.container-fluid.has-breakpoint{
  max-width: 1280px;
}




//    ____  ____   ___  ____  ____   _____        ___   _ 
//   |  _ \|  _ \ / _ \|  _ \|  _ \ / _ \ \      / / \ | |
//   | | | | |_) | | | | |_) | | | | | | \ \ /\ / /|  \| |
//   | |_| |  _ <| |_| |  __/| |_| | |_| |\ V  V / | |\  |
//   |____/|_| \_\\___/|_|   |____/ \___/  \_/\_/  |_| \_|
//                                                        

.manic-dropdown.montigo-version{

  width: 100%;
  height: 23px;
  border: 1px solid @dark-grey;
  background: transparent;

  &:after{
    content: "\f04b";
    display: block;
    position: absolute;

    font: normal normal normal 14px/1 FontAwesome;
    font-size: 6px;
    color: @dark-grey;

    position: absolute;
    top: 7px;
    right: 7px;
    .rotation(90deg);

  }

  cursor: default;

  span{
    position: absolute;
    width: 100%;
    height: 23px;
    line-height: 21px;

    overflow: hidden;

    .brandon-medium;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: @dark-grey;

    padding-left: 7px;
    padding-right: 16px;
  }

  input{
    display: none;
  }
  ul{
    display: none;
    position: absolute;
    width: 100%;
    //height: 23px;
    top: 23px;
    left: 0px;

    z-index: 20;

    padding: 4px 0;


    &:before{
      content: "";
      display: block;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: @white;
      //  .opacity(0.9);  // they wanted it to be opace

      .transition-in();

      //border: 1px solid #ebebeb;
      border: 1px solid transparent;
      //.box-shadow (0, 0, 9px, #ebebeb);
      .box-shadow (0, 0, 9px, #cccccc);
    }


    .brandon-medium;
    font-size: 10px;
    color: @white;
    //background: @dark-grey;
    background: transparent;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    li{
      position: relative;

      width: 100%;
      height: 23px;
      line-height: 21px;
      background: transparent;
      //background: #ffffff;
      //color: #000000;
      background: transparent;
      color: @dark-grey;

      padding-left: 7px;
      padding-right: 16px;

      &:hover{
        color: @light-blue;

        //color: #ffffff;
        //background: #000000;
      }
    }
  }
}


//    _____  _    ____  _     _____ 
//   |_   _|/ \  | __ )| |   | ____|
//     | | / _ \ |  _ \| |   |  _|  
//     | |/ ___ \| |_) | |___| |___ 
//     |_/_/   \_\____/|_____|_____|
//                                  

.montigo-blue-table{

  font-size: 14px;
  line-height: 18px;
  text-align: center;

  background: @light-blue-05;
  margin-bottom: 0px;
  
  thead{
    background: @light-blue-50;
    th{
      .brandon-black;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase;
      color: @white;
      text-align: center;
      letter-spacing: 0.1em;
      


      height: 50px;
      vertical-align: middle !important;
      border-bottom: none !important;


      border-right: 1px solid #87bfd9;

      &:last-child{
        border-right: none;
      }
    }
  }
  tbody{
    
    .brandon-light;
    letter-spacing: 0.05em;

    tr.top-space{
      .transition-none();
      td{
        height: 13px;
      }
      &:hover{
        background: none;
      }
    }
    tr.bottom-space{
      .transition-none();
      td{
        height: 17px;
      }
      &:hover{
        background: none;
      }
    }

    tr{
      .transition-in(0.2s);
      &:hover{
        //color: @light-blue;
        
        td{
          border-right: 1px solid transparent;

          &:last-child{
            border-right: none;
          }
        }

        //border: 1px solid #dce0e3;
        //background: @white;
        //
        

        //color: @white;
        background: @light-blue-20;
      }
    }

    /*
    &:before{
      content: "";
      display: block;
      height: 13px;
    }
    &:after{
      content: "";
      display: block;
      height: 17px;
    }
    */

    td{
      height: 45px;
      vertical-align: middle !important;
      border-top: none !important;

      border-right: 1px solid #dce0e3;

      .transition-in(0.2s);

      &:last-child{
        border-right: none;
        //border-right: 1px solid transparent;
      }
    }

  }
    
}




//    ____  _____ ____  ____   ___  _   _ ____ _____     _______ 
//   |  _ \| ____/ ___||  _ \ / _ \| \ | / ___|_ _\ \   / / ____|
//   | |_) |  _| \___ \| |_) | | | |  \| \___ \| | \ \ / /|  _|  
//   |  _ <| |___ ___) |  __/| |_| | |\  |___) | |  \ V / | |___ 
//   |_| \_\_____|____/|_|    \___/|_| \_|____/___|  \_/  |_____|
//                                                               



@media only screen and (max-width: 769px) {


  .margin-less-image{
    margin: 0;
  }

  .no-right-margin{
    margin: 0;
  }
  .no-left-margin{
    margin: 0;
  }

  .no-left-right-margin{
    margin: 0;
  }
  .manic-image-container{
    margin: 0 -15px;
    width: auto !important;
  }


  // animations
  .fadeout{
    .opacity(1);
  }

  .fadein-top{
    position: relative;
    top: 0px;
    .opacity(1);
  }

  .fadein-left{
    left: 0px;
    .opacity(1);
  }

  .fadein-right{
    left: 0px;
    .opacity(1);
  }
}
