@desktop-header-height: 62px;

@book-now-width: 128px;


#main-page-header{
  .container-fluid{
    max-width: none !important;
  }
}



#main-page-header{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @desktop-header-height;
  z-index: 9999;

  /*
  .blue-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 167px;
    //background: transparent url("../images/bg/header_blue_gradient.png") center center repeat-x;
    
    pointer-events: none;

    .transition-in();
    .opacity(1);
  }
  */
 
  .gradient-container{
    .opacity(1);
    .transition-in();
  }

  .white-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: @desktop-header-height;

    background: @white;
    .opacity(0.3);
    .transition-in();
  }

  


  #header-logo{
    color: transparent;
    .logo_montigo_header_white;

    margin-top: 10px;
    margin-left: 5px;
    .transition-in();

    &:hover{
      color: transparent;
      .opacity(0.6);
    }
  }


  //    _   _    ___     _____ ____    _  _____ ___ ___  _   _ 
  //   | \ | |  / \ \   / /_ _/ ___|  / \|_   _|_ _/ _ \| \ | |
  //   |  \| | / _ \ \ / / | | |  _  / _ \ | |  | | | | |  \| |
  //   | |\  |/ ___ \ V /  | | |_| |/ ___ \| |  | | |_| | |\  |
  //   |_| \_/_/   \_\_/  |___\____/_/   \_\_| |___\___/|_| \_|
  //                                                           


  #header-navigation{
    margin-top: 10px;
    //margin-right: 22px;     // already provided for by the menu-panel-container
    //margin-right: -16px;
    text-align: right;

    > ul{
      > li{
        .display-inline-block;
        margin-right: 21px;

        &:last-child{
          margin-right: 0px;
        }

        > a {
          display: block;

          .brandon-bold;
          font-size: 12px;
          line-height: 40px;
          color: @white;
          text-transform: uppercase;
          letter-spacing: 0.12em;

          height: 40px;

          &:hover{
            color: @dark-brown;
          }
          
        }
      }
    }
  } // #header-navigation




  //    __  __ _____ _   _ _   _   ____   _    _   _ _____ _        ____ ___  _   _ _____  _    ___ _   _ _____ ____  
  //   |  \/  | ____| \ | | | | | |  _ \ / \  | \ | | ____| |      / ___/ _ \| \ | |_   _|/ \  |_ _| \ | | ____|  _ \ 
  //   | |\/| |  _| |  \| | | | | | |_) / _ \ |  \| |  _| | |     | |  | | | |  \| | | | / _ \  | ||  \| |  _| | |_) |
  //   | |  | | |___| |\  | |_| | |  __/ ___ \| |\  | |___| |___  | |__| |_| | |\  | | |/ ___ \ | || |\  | |___|  _ < 
  //   |_|  |_|_____|_| \_|\___/  |_| /_/   \_\_| \_|_____|_____|  \____\___/|_| \_| |_/_/   \_\___|_| \_|_____|_| \_\
  //                                                                                                                  

  

  #menu-panel-container{
    position: absolute;
    width: auto;
    height: @desktop-header-height;
    top: 0;
    left: 0;
    right: unit( (@book-now-width + 22), px);

    .menu-panel{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .menu-panel-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }



    #menu-navigation-panel{
      top: 0px;
    }
    #menu-booking-panel{
      top: -62px;
    }

  }








  //    ____   ___   ___  _  __  _   _  _____        __
  //   | __ ) / _ \ / _ \| |/ / | \ | |/ _ \ \      / /
  //   |  _ \| | | | | | | ' /  |  \| | | | \ \ /\ / / 
  //   | |_) | |_| | |_| | . \  | |\  | |_| |\ V  V /  
  //   |____/ \___/ \___/|_|\_\ |_| \_|\___/  \_/\_/   
  //                                                   


  #header-book-now{

    position: absolute;
    top: 0;
    right: 0;

    //position: relative;
    //width: 100%;
    width: @book-now-width;
    height: @desktop-header-height;

    

    #header-book-now-btn{
      display: block;
      width: @book-now-width;

      height: @desktop-header-height;
      position: absolute;
      //right: -15px;
      top: 0;
      left: 0;

      .brandon-bold;
      font-size: 12px;
      line-height: 40px;
      color: @white;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.12em;

      padding-top: 10px;

      cursor: pointer;
      .transition-in();

      .copy{
        position: relative;
        .transition-in();

        &:after{
          content: "";
          display: block;
          width: 100%;
          height: 0;

          position: absolute;
          bottom: 1px;
          left: 0;

          border-bottom: 1px solid @white;
          .transition-in();
        }
      }
      .bg{
        content: "";
        display: block;
        background: @white;
        .opacity(0.4);

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .transition-in();
      }

      &:before{
        
      }

      &:hover{
        .bg{
          //background: @dark-brown;
          .opacity(1);
        }
        .copy{
          color: @dark-brown;
          &:after{
            border-bottom: 1px solid @dark-brown; 
          }
        }
      }
    }

  } // #header-book-now

} // #main-page-header


//   __        ___   _ ___ _____ _____  __     _______ ____  ____ ___ ___  _   _ 
//   \ \      / / | | |_ _|_   _| ____| \ \   / / ____|  _ \/ ___|_ _/ _ \| \ | |
//    \ \ /\ / /| |_| || |  | | |  _|    \ \ / /|  _| | |_) \___ \| | | | |  \| |
//     \ V  V / |  _  || |  | | | |___    \ V / | |___|  _ < ___) | | |_| | |\  |
//      \_/\_/  |_| |_|___| |_| |_____|    \_/  |_____|_| \_\____/___\___/|_| \_|
//                                                                               

#main-page-header.white-version{

  .box-shadow (0, 0, 9px, #ebebeb);


  .gradient-container{
    .opacity(0);
  }

  .blue-bg{
    .opacity(0);
  }
  .white-bg{
    .opacity(1);
  }
  #header-logo{
    .logo_montigo_header_color;
  }

  #header-navigation > ul > li{
    a{
      color: @dark-brown;

      &:hover{
        color: @light-blue;
      }
    }
  }

  #header-book-now{
    #header-book-now-btn{

      .bg{
        //background: @light-brown;
        background: @light-blue;
        .opacity(1);
        
      }
      .copy{
        //color: @white;
      }

      /*
      &:hover{
        .bg{
          //.opacity(0.7);
        }
        .copy{
          color: @dark-brown;
        }
      }
      */

    }
  }

}


//    ____   ___   ___  _  _____ _   _  ____  __     _______ ____  ____ ___ ___  _   _ 
//   | __ ) / _ \ / _ \| |/ /_ _| \ | |/ ___| \ \   / / ____|  _ \/ ___|_ _/ _ \| \ | |
//   |  _ \| | | | | | | ' / | ||  \| | |  _   \ \ / /|  _| | |_) \___ \| | | | |  \| |
//   | |_) | |_| | |_| | . \ | || |\  | |_| |   \ V / | |___|  _ < ___) | | |_| | |\  |
//   |____/ \___/ \___/|_|\_\___|_| \_|\____|    \_/  |_____|_| \_\____/___\___/|_| \_|
//                                                                                     


#main-page-header.booking-version{
  #header-book-now{
    #header-book-now-btn{

      .bg{
        background: @white !important;
        .opacity(1);
        
      }
      .copy{
        color: @light-blue !important;
        padding-top: 2px;

        &:after{
          .opacity(0);
        }

      }

    }
  }


  &.white-version{

    #header-book-now{
      #header-book-now-btn{

        .bg{
          background: @light-blue !important;
          .opacity(1);
        }
        .copy{
          color: @white !important;
          padding-top: 2px;

          &:after{
            .opacity(0);
          }

        }

      }
    }

  }

}

//    ____   ___   ___  _  _____ _   _  ____ 
//   | __ ) / _ \ / _ \| |/ /_ _| \ | |/ ___|
//   |  _ \| | | | | | | ' / | ||  \| | |  _ 
//   | |_) | |_| | |_| | . \ | || |\  | |_| |
//   |____/ \___/ \___/|_|\_\___|_| \_|\____|
//                                           

.menu-booking-form-item{
  padding-top: 8px;
  position: relative;

  label{
    .brandon-bold;
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: @white;

    display: block;

    &.single-digit-version{
      text-align: center;
    }
  }

  .text-input{
    .brandon-medium;
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
    //letter-spacing: 0.1em;
    letter-spacing: 0.05em;
    color: @white;

    width: 100%;
    height: 20px;

    display: block;
    outline: none;
    border: none;
    border: 1px solid @white;
    padding: 0 8px;
    padding-top: 1px;
    background: transparent;

    &.single-digit-version{
      
    }
  }

  .select-input{
    width: 100%;
    height: 20px;
    overflow: hidden;
    position: relative;

    display: block;
    outline: none;
    border: none;
    border: 1px solid @white;
    background: transparent;

    .fa{
      font-size: 6px;
      color: @white;

      position: absolute;
      top: 6px;
      right: 6px;
      .rotation(90deg);
    }

    select{
      .brandon-medium;
      font-size: 10px;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: @white;

      width: 120%;

      display: block;
      border: none;
      outline: none;
      outline: 0px;
      background: transparent;
      padding-left: 3px;
      
      option{
        //.brandon-bold;
        //letter-spacing: 0.1em;
        border: none;
        outline: none;
        outline: 0px;
        color: @light-blue;
        background: white;
      }

      
    }
  }


  &.calendar-version{

    .fa{
      display: block;
      position: absolute;
      top: 35px;
      right: 6px;

      font-size: 8px;
      color: @white;
    }
    //fa-calendar-o
  }


  &.single-digit-version{
    label{
      text-align: center;
    }
    .text-input{
      width: 30px;
      margin: 0 auto;
      text-align: center;
    }
    .select-input{
      width: 30px;
      margin: 0 auto;
      
      select{
        width: 50px;
      }
    }
  }

  &.code-version{
    font-size: 0;

    .select-input{
      .display-inline-block;
      width: 50%;
    }
    .text-input{
      .display-inline-block;
      width: 50%;
      margin-left: -1px;
    }
  }




} // .menu-booking-form-item



//    ____   ___   ___  _  _____ _   _  ____  __        ___   _ ___ _____ _____  __     _______ ____  ____ ___ ___  _   _ 
//   | __ ) / _ \ / _ \| |/ /_ _| \ | |/ ___| \ \      / / | | |_ _|_   _| ____| \ \   / / ____|  _ \/ ___|_ _/ _ \| \ | |
//   |  _ \| | | | | | | ' / | ||  \| | |  _   \ \ /\ / /| |_| || |  | | |  _|    \ \ / /|  _| | |_) \___ \| | | | |  \| |
//   | |_) | |_| | |_| | . \ | || |\  | |_| |   \ V  V / |  _  || |  | | | |___    \ V / | |___|  _ < ___) | | |_| | |\  |
//   |____/ \___/ \___/|_|\_\___|_| \_|\____|    \_/\_/  |_| |_|___| |_| |_____|    \_/  |_____|_| \_\____/___\___/|_| \_|
//                                                                                                                        

#main-page-header.white-version{
  .menu-booking-form-item{
    
    label{
      color: @dark-brown;
    }

    .text-input{
      color: @dark-brown;
      border: 1px solid @dark-brown;
    }

    .select-input{
      border: 1px solid @dark-brown;
      
      .fa{
        color: @dark-brown;
      }

      select{
        color: @dark-brown;
        option{
          color: @white;
          background: @dark-brown;
        }
      }
    }


    &.calendar-version{
      .fa{
        color: @dark-brown;
      }
    }


    &.single-digit-version{
      label{
        text-align: center;
      }
      .text-input{
        width: 30px;
        margin: 0 auto;
        text-align: center;
      }
      .select-input{
        width: 30px;
        margin: 0 auto;
        
        select{
          width: 50px;
        }
      }
    }

    &.code-version{
      font-size: 0;

      .select-input{
        .display-inline-block;
        width: 50%;
      }
      .text-input{
        .display-inline-block;
        width: 50%;
        margin-left: -1px;
      }
    }

  } // .menu-booking-form-item
}




//    ____  _____ ____  ____   ___  _   _ ____ _____     _______ 
//   |  _ \| ____/ ___||  _ \ / _ \| \ | / ___|_ _\ \   / / ____|
//   | |_) |  _| \___ \| |_) | | | |  \| \___ \| | \ \ / /|  _|  
//   |  _ <| |___ ___) |  __/| |_| | |\  |___) | |  \ V / | |___ 
//   |_| \_\_____|____/|_|    \___/|_| \_|____/___|  \_/  |_____|
//                                                               


@media only screen and (max-width: 1300px) {

  #main-page-header{
    #header-navigation{
      //margin-right: 5px;

      > ul > li{
        margin-right: 10px;

        >a{
          font-size: 11px;
        }
      }

    }

    #header-book-now #header-book-now-btn .copy{
      font-size: 11px;
      //top: -1px;
    }
  }
}

@media only screen and (max-width: 1200px) {

  #main-page-header{
    #header-navigation{
      //margin-right: 5px;

      > ul > li{
        margin-right: 8px;

        >a{
          font-size: 10px;
        }
      }

    }

    #header-book-now #header-book-now-btn .copy{
      font-size: 10px;
      top: -1px;
    }
  }
}


@media only screen and (max-width: 1100px) {

  #main-page-header{
    #header-navigation{
      //margin-right: 18px;

      > ul > li{
        margin-right: 6px;

        >a{
          font-size: 9px;
        }
      }

    }

    #header-book-now #header-book-now-btn .copy{
      font-size: 9px;
      top: -1px;
    }
  }
}


/*
@media only screen and (max-width: 1150px) {
  #main-page-header{
    #header-navigation{
      > ul > li{
        > a{
          font-size: 10px;
          //letter-spacing: 0em;
        }
      }

    }

    #header-book-now{
      #header-book-now-btn{
        font-size: 10px;

      }
    }

  }   
}
*/