@desktop-header-height: 62px;

@book-now-width: 128px;


#main-page-header{
  .container-fluid{
    max-width: none !important;
  }
}



#main-page-header{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @desktop-header-height;
  z-index: 9999;

  -webkit-transform: translateZ(0);       // for firefox optimization
  transform: translateZ(0);

  /*
  .blue-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 167px;
    //background: transparent url("../images/bg/header_blue_gradient.png") center center repeat-x;
    
    pointer-events: none;

    .transition-in();
    .opacity(1);
  }
  */
 
  .gradient-container{
    .opacity(1);
    .transition-in();
  }

  .white-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: @desktop-header-height;

    background: @white;
    .opacity(0.3);
    .transition-in();
  }

  


  #header-logo{
    color: transparent;
    .logo_montigo_header_white;

    margin-top: 10px;
    margin-left: 5px;
    .transition-in();

    &:hover{
      color: transparent;
      .opacity(0.6);
    }
  }



  #header-navigation-container{
    position: relative;
    width: 100%;
    height: @desktop-header-height;

    #header-navigation{
      position: absolute;
      left: 0;
      right: (@book-now-width - 15px + 22px);
    }

  }



  //    _   _    ___     _____ ____    _  _____ ___ ___  _   _ 
  //   | \ | |  / \ \   / /_ _/ ___|  / \|_   _|_ _/ _ \| \ | |
  //   |  \| | / _ \ \ / / | | |  _  / _ \ | |  | | | | |  \| |
  //   | |\  |/ ___ \ V /  | | |_| |/ ___ \| |  | | |_| | |\  |
  //   |_| \_/_/   \_\_/  |___\____/_/   \_\_| |___\___/|_| \_|
  //                                                           


  #header-navigation{
    margin-top: 10px;
    //margin-right: 22px;     // already provided for by the menu-panel-container
    //margin-right: -16px;
    text-align: right;

    > ul{
      > li{
        .display-inline-block;
        margin-right: 21px;

        &:last-child{
          margin-right: 0px;
        }

        > a {
          display: block;

          .brandon-bold;
          font-size: 12px;
          line-height: 40px;
          color: @white;
          text-transform: uppercase;
          letter-spacing: 0.12em;

          height: 40px;

          &:hover{
            color: @dark-brown;
          }
          
        }
      }
    }
  } // #header-navigation



  


  //    ____   ___   ___  _  __  _   _  _____        __
  //   | __ ) / _ \ / _ \| |/ / | \ | |/ _ \ \      / /
  //   |  _ \| | | | | | | ' /  |  \| | | | \ \ /\ / / 
  //   | |_) | |_| | |_| | . \  | |\  | |_| |\ V  V /  
  //   |____/ \___/ \___/|_|\_\ |_| \_|\___/  \_/\_/   
  //                                                   


  #header-book-now{

    position: absolute;
    top: 0;
    //right: 0;
    right: -15px;

    //position: relative;
    //width: 100%;
    width: @book-now-width;
    height: @desktop-header-height;

    

    #header-book-now-btn{
      display: block;
      width: @book-now-width;

      height: @desktop-header-height;
      position: absolute;
      //right: -15px;
      top: 0;
      left: 0;

      .brandon-bold;
      font-size: 12px;
      line-height: 40px;
      color: @white;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.12em;

      padding-top: 10px;

      cursor: pointer;
      .transition-in();

      .copy{
        position: relative;
        .transition-in();

        &:after{
          content: "";
          display: block;
          width: 100%;
          height: 0;

          position: absolute;
          bottom: 1px;
          left: 0;

          border-bottom: 1px solid @white;
          .transition-in();
        }
      }
      .bg{
        content: "";
        display: block;
        background: @white;
        .opacity(0.4);

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .transition-in();
      }

      &:before{
        
      }

      &:hover{
        .bg{
          //background: @dark-brown;
          .opacity(1);
        }
        .copy{
          color: @dark-brown;
          &:after{
            border-bottom: 1px solid @dark-brown; 
          }
        }
      }
    }

  } // #header-book-now

} // #main-page-header



//     ____    _    _     _____ _   _ ____    _    ____  
//    / ___|  / \  | |   | ____| \ | |  _ \  / \  |  _ \ 
//   | |     / _ \ | |   |  _| |  \| | | | |/ _ \ | |_) |
//   | |___ / ___ \| |___| |___| |\  | |_| / ___ \|  _ < 
//    \____/_/   \_\_____|_____|_| \_|____/_/   \_\_| \_\
//                                                       


#menu-booking-form-calendar-container{
  position: absolute;
  width: 166px;
  //height: 157px;
  height: 157px + 17px;
  right: 283px - 15px;
  top: 133px - 17px;

  display: none;      // hidden initially;

  .booking-form-calendar-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @white;
    .opacity(0.9);

    .transition-in();

    //border: 1px solid #ebebeb;
    border: 1px solid transparent;
    //.box-shadow (0, 0, 9px, #ebebeb);
    .box-shadow (0, 0, 9px, #cccccc);

    border-right: none;


    //box-shadow-right: none;
    //-webkit-box-shadow-right: none;     // this doesn't work




    //.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
    //-webkit-box-shadow: @arguments;
    //box-shadow: @arguments;


    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -7px;
      width: 14px;
      height: 100%;
      background: @white;
      .opacity(0.7);
      .transition-in();

    }

  }


  .booking-form-calendar,
  .gldp-menu-booking-calendar{
    position: absolute;
    //width: 145px;
    width: 138px;
    height: 125px;
    //height: 100px;
    top: 17px !important;
    left: 15px !important;
  }
}



//    ____   ___   ___  _  _____ _   _  ____   _____ ___  ____  __  __ 
//   | __ ) / _ \ / _ \| |/ /_ _| \ | |/ ___| |  ___/ _ \|  _ \|  \/  |
//   |  _ \| | | | | | | ' / | ||  \| | |  _  | |_ | | | | |_) | |\/| |
//   | |_) | |_| | |_| | . \ | || |\  | |_| | |  _|| |_| |  _ <| |  | |
//   |____/ \___/ \___/|_|\_\___|_| \_|\____| |_|   \___/|_| \_\_|  |_|
//                                                                     

.dropdown-open-version{
  #menu-booking-form-container{
    .opacity(0.7);
  }
}

#menu-booking-form-container{
  width: 283px;
  height: 228px;
  position: absolute;
  top: @desktop-header-height;
  right: -15px;

  display: none;  // to be displayed using js


  .booking-form-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @white;
    .opacity(0.9);

    //border: 1px solid #ebebeb;
    border: 1px solid transparent;
    //.box-shadow (0, 0, 9px, #ebebeb);
    .box-shadow (0, 0, 9px, #cccccc);

    //box-shadow-left: none;
    //-webkit-box-shadow-left: none;

    //border-right: none;

    .transition-in();

  }

  #menu-booking-form{
    //width: 100%;
    height: 100%;
    position: relative;

    padding-top: 14px;

    margin: 0 18px;

    .book-form-space{
      height: 8px;
    }


    #menu-booking-form-submit-button{
      .brandon-bold;
      font-size: 10px;
      line-height: 23px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
      color: @white;

      display: block;
      width: 100%;
      height: 23px;
      background: @dark-grey;

      margin-bottom: 8px;

      .transition-in(0.3s);

      &:hover{
        background: @light-blue;
      }
    }
    #menu-booking-form-cancel-button{

      .brandon-regular;
      font-size: 12px;
      line-height: 23px;
      text-align: center;
      color: @dark-grey;

      display: block;
      width: 100%;
      height: 23px;
      .transition-in(0.3s);
      

      &:hover{
        color: @light-blue;
      }

    }

  }
}


//    ____   ___   ___  _  _____ _   _  ____ 
//   | __ ) / _ \ / _ \| |/ /_ _| \ | |/ ___|
//   |  _ \| | | | | | | ' / | ||  \| | |  _ 
//   | |_) | |_| | |_| | . \ | || |\  | |_| |
//   |____/ \___/ \___/|_|\_\___|_| \_|\____|
//                                           

.menu-booking-form-item{
  padding-top: 8px;
  position: relative;

  margin: 0 -12px;
  margin-bottom: 9px;


  label{
    .brandon-bold;
    font-size: 11px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    //color: @white;
    color: @light-blue;

    display: block;


    //padding-left: 8px;
    padding-left: 2px;

    &.single-digit-version{
      text-align: center;
    }
  }

  .text-input{
    .brandon-medium;
    font-size: 10px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: @dark-grey;

    width: 100%;
    height: 23px;

    display: block;
    outline: none;
    border: none;
    border: 1px solid @dark-grey;
    padding: 0 8px;
    padding-top: 1px;
    background: transparent;


    &#code{
      text-transform: none;
    }
  }

  input[type=text]{
    &::-ms-clear{
      display: none;
    }
    
    &::-webkit-input-placeholder{
      .brandon-medium;
      font-size: 10px;
      line-height: 23px;
      //text-transform: uppercase;
      letter-spacing: 0.05em;
      color: @dark-grey;      
    }
    &:-moz-placeholder{
      .brandon-medium;
      font-size: 10px;
      line-height: 23px;
      //text-transform: uppercase;
      letter-spacing: 0.05em;
      color: @dark-grey;      
    }
    &::-moz-placeholder{
       .brandon-medium;
      font-size: 10px;
      line-height: 23px;
      //text-transform: uppercase;
      letter-spacing: 0.05em;
      color: @dark-grey;      
    }
  }


  .select-input{
    width: 100%;
    height: 23px;
    overflow: hidden;
    position: relative;

    display: block;
    outline: none;
    border: none;
    border: 1px solid @dark-grey;
    background: transparent;

    .fa{
      font-size: 6px;
      color: @dark-grey;

      position: absolute;
      top: 7px;
      right: 7px;
      .rotation(90deg);
    }

    select{
      .brandon-medium;
      font-size: 10px;
      line-height: 23px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: @dark-grey;

      width: 120%;
      height: 20px;

      display: block;
      border: none;
      outline: none;
      outline: 0px;
      background: transparent;
      padding-left: 3px;
      
      option{
        //.brandon-bold;
        //letter-spacing: 0.1em;
        border: none;
        outline: none;
        outline: 0px;
        color: @white;
        background: @dark-grey;
      }

      
    }
  }


  &.calendar-version{

    .fa{
      display: block;
      position: absolute;
      top: 38px;
      right: 7px;

      font-size: 8px;
      color: @dark-grey;

      pointer-events: none;
    }
    //fa-calendar-o
  }

  &.single-line-version{
    font-size: 0;

    label{
      .display-inline-block();
      width: 40%;
    }


    .manic-dropdown.montigo-version{
      .display-inline-block();
      width: 50%;
      margin-left: 10%;
      text-align: center;

    }
    .text-input{
      .display-inline-block();
      width: 50%;
      margin-left: 10%;
      text-align: center;
      line-height: 20px;
    }

    .select-input{

      text-align: center;

      .display-inline-block();
      width: 50%;
      margin-left: 10%;

      select{
        width: 75px;
        //padding-left: 12px;
        padding-left: 16px;
      }
    }
  }


  // not used
  &.single-digit-version{
    label{
      text-align: center;
    }
    .text-input{
      width: 30px;
      margin: 0 auto;
      text-align: center;
    }
    .select-input{
      width: 30px;
      margin: 0 auto;
      
      select{
        width: 50px;
      }
    }
  }

  // not used anymore.
  &.code-version{
    font-size: 0;

    .select-input{
      .display-inline-block;
      width: 50%;
    }
    .text-input{
      .display-inline-block;
      width: 50%;
      margin-left: -1px;
    }
  }




} // .menu-booking-form-item






//   __        ___   _ ___ _____ _____  __     _______ ____  ____ ___ ___  _   _ 
//   \ \      / / | | |_ _|_   _| ____| \ \   / / ____|  _ \/ ___|_ _/ _ \| \ | |
//    \ \ /\ / /| |_| || |  | | |  _|    \ \ / /|  _| | |_) \___ \| | | | |  \| |
//     \ V  V / |  _  || |  | | | |___    \ V / | |___|  _ < ___) | | |_| | |\  |
//      \_/\_/  |_| |_|___| |_| |_____|    \_/  |_____|_| \_\____/___\___/|_| \_|
//                                                                               

.has-booking-form #main-page-header,      // apparently this works ^_^
#main-page-header.white-version{

  .box-shadow (0, 0, 9px, #ebebeb);


  .gradient-container{
    .opacity(0);
  }

  .blue-bg{
    .opacity(0);
  }
  .white-bg{
    .opacity(1);
  }
  #header-logo{
    .logo_montigo_header_color;
  }

  #header-navigation > ul > li{
    a{
      color: @dark-brown;

      &:hover{
        color: @light-blue;
      }
    }
  }

  #header-book-now{
    #header-book-now-btn{

      .bg{
        //background: @light-brown;
        background: @light-blue;
        .opacity(1);
        
      }
      .copy{
        //color: @white;
      }

      

    }
  }

}


//    ____   ___   ___  _  _____ _   _  ____  __     _______ ____  ____ ___ ___  _   _ 
//   | __ ) / _ \ / _ \| |/ /_ _| \ | |/ ___| \ \   / / ____|  _ \/ ___|_ _/ _ \| \ | |
//   |  _ \| | | | | | | ' / | ||  \| | |  _   \ \ / /|  _| | |_) \___ \| | | | |  \| |
//   | |_) | |_| | |_| | . \ | || |\  | |_| |   \ V / | |___|  _ < ___) | | |_| | |\  |
//   |____/ \___/ \___/|_|\_\___|_| \_|\____|    \_/  |_____|_| \_\____/___\___/|_| \_|
//                                                                                     


#main-page-header.booking-version{

}


/*
#main-page-header.booking-version{
  #header-book-now{
    #header-book-now-btn{

      .bg{
        background: @white !important;
        .opacity(1);
        
      }
      .copy{
        //color: @light-blue !important;
        color: transparent !important;
        padding-top: 2px;

        &:after{
          .opacity(0);
        }

      }

    }
  }


  &.white-version{

    #header-book-now{
      #header-book-now-btn{

        .bg{
          background: @light-blue !important;
          .opacity(1);
        }
        .copy{
          //color: @white !important;
          color: transparent !important;
          padding-top: 2px;

          &:after{
            .opacity(0);
          }

        }

      }
    }

  }

}
*/



//    ____   ___   ___  _  _____ _   _  ____  __        ___   _ ___ _____ _____  __     _______ ____  ____ ___ ___  _   _ 
//   | __ ) / _ \ / _ \| |/ /_ _| \ | |/ ___| \ \      / / | | |_ _|_   _| ____| \ \   / / ____|  _ \/ ___|_ _/ _ \| \ | |
//   |  _ \| | | | | | | ' / | ||  \| | |  _   \ \ /\ / /| |_| || |  | | |  _|    \ \ / /|  _| | |_) \___ \| | | | |  \| |
//   | |_) | |_| | |_| | . \ | || |\  | |_| |   \ V  V / |  _  || |  | | | |___    \ V / | |___|  _ < ___) | | |_| | |\  |
//   |____/ \___/ \___/|_|\_\___|_| \_|\____|    \_/\_/  |_| |_|___| |_| |_____|    \_/  |_____|_| \_\____/___\___/|_| \_|
//                                                                                                                        

#main-page-header.white-version{


  #menu-booking-form-container{
    .booking-form-bg{
      background: @white;
      .opacity(1);

      //border: 1px solid #ebebeb;
      border: 1px solid #dddddd;
      //border-right: none;

      //border: 1px solid #ebebeb;
      //.box-shadow (0, 0, 9px, #ebebeb);

    }

    #menu-booking-form{
    }
  }

  #menu-booking-form-calendar-container{
    .booking-form-calendar-bg{
      background: @white;
      .opacity(1);

      //border: 1px solid #ebebeb;
      border: 1px solid #dddddd;
      border-right: none;

      &:after{
        .opacity(1);
      }

      //border: 1px solid #ebebeb;
      //.box-shadow (0, 0, 9px, #ebebeb);
    }
  }



  .menu-booking-form-item{
    
    /*
    label{
      color: @dark-brown;
    }

    .text-input{
      color: @dark-brown;
      border: 1px solid @dark-brown;
    }

    .select-input{
      border: 1px solid @dark-brown;
      
      .fa{
        color: @dark-brown;
      }

      select{
        color: @dark-brown;
        option{
          color: @white;
          background: @dark-brown;
        }
      }
    }


    &.calendar-version{
      .fa{
        color: @dark-brown;
      }
    }


    &.single-digit-version{
      label{
        text-align: center;
      }
      .text-input{
        width: 30px;
        margin: 0 auto;
        text-align: center;
      }
      .select-input{
        width: 30px;
        margin: 0 auto;
        
        select{
          width: 50px;
        }
      }
    }

    &.code-version{
      font-size: 0;

      .select-input{
        .display-inline-block;
        width: 50%;
      }
      .text-input{
        .display-inline-block;
        width: 50%;
        margin-left: -1px;
      }
    }

    */

  } // .menu-booking-form-item
}




//    ____  _____ ____  ____   ___  _   _ ____ _____     _______ 
//   |  _ \| ____/ ___||  _ \ / _ \| \ | / ___|_ _\ \   / / ____|
//   | |_) |  _| \___ \| |_) | | | |  \| \___ \| | \ \ / /|  _|  
//   |  _ <| |___ ___) |  __/| |_| | |\  |___) | |  \ V / | |___ 
//   |_| \_\_____|____/|_|    \___/|_| \_|____/___|  \_/  |_____|
//                                                               


@media only screen and (max-width: 1500px) {

  #main-page-header{
    #header-navigation{
      //margin-right: 5px;
      
      > ul > li{
        //margin-right: 10px;
        margin-right: 15px;

        >a{
          font-size: 11px;
        }
      }

    }

    #header-book-now #header-book-now-btn .copy{
      font-size: 11px;
      //top: -1px;
    }
  }
}

@media only screen and (max-width: 1350px) {

  #main-page-header{
    #header-navigation{
      margin-left: -100px;
      //margin-right: 5px;

      > ul > li{
        //margin-right: 8px;
        margin-right: 12px;

        >a{
          font-size: 10px;
        }
      }

    }

    #header-book-now #header-book-now-btn .copy{
      font-size: 10px;
      top: -1px;
    }
  }
}


@media only screen and (max-width: 1200px) {

  #main-page-header{
    #header-navigation{
      //margin-right: 18px;

      > ul > li{
        margin-right: 6px;

        >a{
          font-size: 9px;
        }
      }

    }

    #header-book-now #header-book-now-btn .copy{
      font-size: 9px;
      top: -1px;
    }
  }
}


/*
@media only screen and (max-width: 1150px) {
  #main-page-header{
    #header-navigation{
      > ul > li{
        > a{
          font-size: 10px;
          //letter-spacing: 0em;
        }
      }

    }

    #header-book-now{
      #header-book-now-btn{
        font-size: 10px;

      }
    }

  }   
}
*/