
.page-contact{
  //overflow: hidden;

  .down-scroll-arrow{
    display: none;
  }
}


//    ____  _     ___ ____  _____ ____  
//   / ___|| |   |_ _|  _ \| ____|  _ \ 
//   \___ \| |    | || | | |  _| | |_) |
//    ___) | |___ | || |_| | |___|  _ < 
//   |____/|_____|___|____/|_____|_| \_\
//                                      



#contact-slider{
  margin-bottom: -80px;
}

#contact-slider-text{
  color: @white;

  h3{
    color: @white;
  }
  p{
    .brandon-regular;
    font-size: 17px;
    line-height: 21px;
    margin-top: -2px;
    margin-bottom: 19px;
  }
  .cta-button{
    color: @white;
    display: block;
    margin: 0 auto;
    margin-bottom: 41px;

    .fa{
      color: @white;
    }

    &:hover{
      color: @white;
    }
  }

  .contact-slider-list-spacer{
    height: 90px;
  }
}


//    _     ___ ____ _____ 
//   | |   |_ _/ ___|_   _|
//   | |    | |\___ \ | |  
//   | |___ | | ___) || |  
//   |_____|___|____/ |_|  
//                         

#contact-slider-list{
  //width: 1407px;
  width: 940px;
  height: 90px;

  position: absolute;
  bottom: 0px;
  left: 50%;
  //margin-left: -703px;
  margin-left: -470px;


  .contact-slider-item{
    h4{
      .brandon-bold;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: 0.1em;
      margin-bottom: 7px;
    }
    p, a{
      .brandon-regular;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0em;

      &.number-version{
        font-size: 14px;
        letter-spacing: 0.05em;
      }

    }
    a{
      color: @white !important;

      &:hover{
        .opacity(0.4);
        //color: @dark-brown !important;
      }
    }
  }
}





//    ____  _____ ____  ____   ___  _   _ ____ _____     _______ 
//   |  _ \| ____/ ___||  _ \ / _ \| \ | / ___|_ _\ \   / / ____|
//   | |_) |  _| \___ \| |_) | | | |  \| \___ \| | \ \ / /|  _|  
//   |  _ <| |___ ___) |  __/| |_| | |\  |___) | |  \ V / | |___ 
//   |_| \_\_____|____/|_|    \___/|_| \_|____/___|  \_/  |_____|
//                                                               

//@media only screen and (max-width: 769px) {
@media only screen and (max-width: 991px) {
  #contact-slider{
    margin-bottom: 0px;
  }
  #mobile-contact-slider-list{
    margin-bottom: -30px;
    padding-top: 30px;
    //margin-bottom: -30px;
    margin-bottom: -60px;

    .contact-slider-item{
      margin-bottom: 30px;
      text-align: center;

      h4{
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.1em;
      }
      p, a{
        .brandon-regular;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0em;

        &.number-version{
          font-size: 14px;
          letter-spacing: 0.05em;
        }

      }
      a{
        //color: @white !important;

        &:hover{
          .opacity(0.4);
          //color: @dark-brown !important;
        }
      }
    }

  }
}

