#career-classified-section{

}

#career-item-container{
  padding-top: 82px;
  margin-bottom: -35px;

}


.career-item{
  margin-bottom: 102px;

  h4{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
  }
  hr.short-hr{
    background: @light-blue;
    .opacity(0.2);
    margin: 0;
    margin-top: 14px;
    margin-bottom: 22px;
  }
  ul{
    li{
      .brandon-light;
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 20px;
      letter-spacing: 0em;

      &:last-child{
        margin-bottom: 0px;
      }
    }
  }


  .cta-small-button{
    padding-top: 23px;
    display: block;

  }

} // .career-item