




//    _____ _____    _  _____ _   _ ____  _____ ____  
//   |  ___| ____|  / \|_   _| | | |  _ \| ____|  _ \ 
//   | |_  |  _|   / _ \ | | | | | | |_) |  _| | | | |
//   |  _| | |___ / ___ \| | | |_| |  _ <| |___| |_| |
//   |_|   |_____/_/   \_\_|  \___/|_| \_\_____|____/ 
//                                                    

#home-featured-section{
  margin-bottom: -160px;
  .add-clearfix();

  &.has-pin{
    margin-bottom: 0px;
  }

  #home-promotions{
    text-align: center;
    border-bottom: 1px solid @dark-brown-10;
    margin-left: 9px;
    //padding-left: 15px;
    margin-bottom: 20px;

    .promotion-title{
      padding-top: 89px;
      h3{
        
        font-size: 40px;
        line-height: 40px;
        color: @light-blue;
        margin-bottom: -7px;
        letter-spacing: 0em;
        
        // suyeon
        margin-bottom: -5px;
        
      }
      h4{
        font-size: 26px;
        line-height: 45px;
        letter-spacing: 0.1em;
        margin-bottom: -7px;

        // suyeon
        text-transform: uppercase;
        line-height: 40px;
      }
      hr{
        border: none;
        margin: none;
        width: 30px;
        height: 5px;
        margin: 0 auto;
        //margin-top: 16px;
        //margin-bottom: 40px;
        background: @light-blue;
        //.opacity(0.5);
        
        // suyeon
        margin-top: 12px;
        margin-bottom: 30px;

      }
    }
    .promotion-image{
      width: 100%;
      height: 372px;
      overflow: hidden;
      padding-left: 30px;
      padding-right: 25px;
      img{
        width: 100%;
        height: auto;
      }
    }
    .promotion-text{
      //width: 60%;
      //padding-top: 36px;
      //padding-bottom: 34px;

      margin: 0 auto;

      // suyeon
      width: 65%;
      padding-top: 40px;
      padding-bottom: 40px;


      h4{
        //font-size: 16px;
        //line-height: 20px;
        margin-bottom: 15px;
        letter-spacing: 0.1em;

        // suyeon
        font-size: 18px;
        line-height: 18px;

        //font-size: 20px;
        //line-height: 28px;

      }
      p{
        //font-size: 16px;
        //line-height: 20px;
        margin-bottom: 16px;
        letter-spacing: 0;

        // suyeon
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0;
        margin-bottom: 15px;
      }

    }

  } // #home-promotions




  #home-offers{
    margin-bottom: 50px;
    padding-left: 26px;

    .home-offer-item{
      padding-top: 27px;
      padding-bottom: 25px;
      padding-right: 40px;

    }
    .home-offer-item-01{
      border-right: 1px solid @dark-brown-10;
    }

    h6{
      .brandon-bold;
      //font-size: 13px;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: @light-blue;

      //margin-bottom: 1px;

      // suyeon
      font-size: 15px;
      margin-bottom: 5px;

    }
    h4{
      /*
      font-size: 18px;
      letter-spacing: 0.1em;
      margin-bottom: 10px;

      // suyeon
      line-height: 18px;

      font-size: 20px;
      line-height: 28px;
      */


      // suyeon edit may 18
      margin-bottom: 15px;
      letter-spacing: 0.1em;
      font-size: 18px;
      line-height: 18px;
    }
    p{
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0em;

      margin-bottom: 10px;

      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0;
    }
    
  } // #home-offers



  //SIDEBAR

  #home-featured-sidebar{
    padding-right: 5px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2000;
    //background: @white;
    

    #home-instagram{
      background: @white;
      border: 1px solid #ebebeb;
      padding: 10px;
      margin-bottom: 20px;
      //margin-top: -160px;
      .box-shadow (0, 0, 9px, #ebebeb);
      position: relative;
      //z-index: 2000;



      .instagram-title{
        text-align: center;
        padding: 0 30px;
        //padding-top: 41px;
        padding-top: 36px;
        padding-bottom: 25px;



        h3{
          font-size: 25px;
          line-height: 25px;
          color: @light-blue;
          //margin-bottom: -5px;
          margin-bottom: -1px;
          letter-spacing: 0;
        }
        h4{
          font-size: 17px;
          line-height: 30px;
          margin-bottom: -4px;
          letter-spacing: 0.1em;
        }
        p{
          font-size: 15px;
          line-height: 18px;
          margin-bottom: 1px;
          letter-spacing: 0;
          letter-spacing: 0.05;
          margin: 0 -20px;

          // suyeon edit
          margin-top: 10px;

          //padding: 0 20px;
        }
      } // .instagram-title

      .image-container{
        font-size: 0;
        margin-right: -6px;
        margin-left: -5px;

        a{
          .display-inline-block;
          width: 33.32%;
          
          margin-bottom: 10px;
          padding-left: 5px;
          padding-right: 5px;

          //overflow: hidden;

          img{
            display: block;

            width: 100%;
            height: auto;

            .transition-in();
          }


          &:hover{
            img{
              .opacity(0.8);
              -webkit-filter: contrast(1.2) brightness(1.2);
              /*
              -webkit-filter: contrast(0.5) brightness(0.8);
              .scale(1.2);
              */
            }
          }
        }

        
      } // .image-container

      .instagram-social{
        text-align: center;
        padding-top: 28px;
        padding-bottom: 17px;

        h3{
          color: @light-blue;
          font-size: 20px;
          line-height: 20px;
          letter-spacing: 0.02em;

          position: relative;
          margin-bottom: -6px;
          pointer-events: none;
          

          span{
            .display-inline-block;
            z-index: 2;
            height: 40px;
            margin-top: -27px;
            padding: 0 12px;
            padding-top: 18px;
            background: @white;


            position: relative;
          }

          &:before{
            content: "";
            display: block;
            width: 100%;
            height: 0;
            border-bottom: 1px solid @light-blue;
          }
        }
        .fa{
          font-size: 15px;
          margin-right: 7px;
          color: @light-blue;

          &:hover{
            color: @dark-brown;
          }

          &:last-child{
            margin-right: 0px;
          }
        }

      } // .instagram-social

    } // #home-instagram


    #home-tilo-treasure-hunt-container{
      display: table;
      #home-tilo-treasure-hunt{
        display: table-cell;
        vertical-align: middle;
      }
    }

    #home-tilo-treasure-hunt{
      border-left: 1px solid @dark-brown-10;
      padding-left: 33px;
      padding-right: 40px;

      

      /*
      padding-top: 70px;
      padding-bottom: 70px;
      */

      .treasure-hunt-title{

        position: relative;
        min-height: 80px;
        margin-bottom: 13px;

        #home-tilo-icon{
          position: absolute;
          top: 0;
          left: -15px;
        }

        h4{
          //font-size: 16px;
          //line-height: 22px;
          //letter-spacing: 0.1em;

          //padding-left: 58px;
          padding-top: 30px;

          position: relative;
          z-index: 20;

          //suyeon
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0.05em;
          padding-left: 66px;

          // suyeon may 18
          letter-spacing: .1em
        }

      }
      .treasure-hunt-text{
        p{
          margin-bottom: 18px;
          letter-spacing: -0.01em;

          // suyeon
          .brandon-light;
          font-size: 14.5px;
          line-height: 18px;

          font-size: 15px;
          line-height: 22px;
          letter-spacing: 0;
        }
        

      }
      

    } // #home-tilo-treasure-hunt

  } // #home-featured-sidebar


} // #home-featured-section


//    _____ ___ _     ___  
//   |_   _|_ _| |   / _ \ 
//     | |  | || |  | | | |
//     | |  | || |__| |_| |
//     |_| |___|_____\___/ 
//                         


#home-tilo-icon{
  position: relative;
  width: 80px;
  height: 80px;

  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  }

}




//    ____  _____ ____ _____  _   _   _ ____      _    _   _ _____ 
//   |  _ \| ____/ ___|_   _|/ \ | | | |  _ \    / \  | \ | |_   _|
//   | |_) |  _| \___ \ | | / _ \| | | | |_) |  / _ \ |  \| | | |  
//   |  _ <| |___ ___) || |/ ___ \ |_| |  _ <  / ___ \| |\  | | |  
//   |_| \_\_____|____/ |_/_/   \_\___/|_| \_\/_/   \_\_| \_| |_|  
//                                                                 

@home-restaurant-height: 400px;


#home-restaurant-image-01{
  width: 100%;
  height: 400px;
}

#home-restaurant-image-02{
  width: 100%;
  height: 400px;
}
#home-restaurant-image-03{
  width: 100%;
  height: 400px;
}

#home-restaurant{
  //padding-top: 50px;
  //padding-bottom: 50px;
  //padding-bottom: 25px;
  //padding-top: 47px;           // removed extra 3 px to make it uniform on all
  padding-top: 50px;
  padding-bottom: 50px;  // need this back.

  .spacing{
    height: 50px;
  }

  

}



//    __  __    _    ____  
//   |  \/  |  / \  |  _ \ 
//   | |\/| | / _ \ | |_) |
//   | |  | |/ ___ \|  __/ 
//   |_|  |_/_/   \_\_|    
//                         

#home-map{
  width: 100%;
  height: 877px;
  overflow: hidden;
  position: relative;

  margin-bottom: -80px;

  .text-container{
    position: absolute;
    width: 100%;
    //height: 100%;
    bottom: 0;
    left: 0;

    color: @white;

    padding-bottom: 33px;
    //padding-left: 30px;
    
    .text-container-container{
      padding-left: 30px;
    }

    h3{
      font-size: 60px;
      line-height: 60px;
      //margin-bottom: -9px;
      //margin-bottom: 11px;
      margin-bottom: 20px;

      //letter-spacing: 0.025em;      // due to copy change
      letter-spacing: -0.05em;
      //margin-left: -10px;
      //
      margin-left: 2px;
    }

    h4{
      .brandon-bold;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0.1em;

      //margin-left: 68px;
      //margin-bottom: 3px;
      margin-bottom: 15px;
    }
    
    p{
      //.brandon-light-italic;
      //font-size: 15px;
      //line-height: 18px;
      .brandon-light;
      font-size: 16px;
      line-height: 20px;

      margin-bottom: 18px;
      letter-spacing: 0;
      width: 40%;
    }
    /*
    a{
      //.brandon-bold;
      .brandon-black;
      font-size: 10px;
      line-height: 18px;
      color: @white;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    */
   
    .cta-button{
      color: @white;

      .fa{
        color: @white;

        &:hover{
          color: @white;
        }
      }
    }
  }

  .overlay-container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -370px;
    margin-top: -222px;
    margin-top: -322px;

    width: 739px;
    height: 444px;

    .overlay-image{
      //.home_map_overlay;
      position: absolute;
      top: 0;
      left: 0;
      /*
      top: 50%;
      left: 50%;
      margin-left: -370px;
      margin-top: -222px;
      */
     
      .svg-graphic-fallback{
        position: absolute;
        top: 0;
        left: 0;
      }
      .svg-graphic{
        position: absolute;
        top: 0;
        left: 0;
      }

    }
    .overlay-item{
      position: absolute;
      top: 0;
      left: 0;
      width: 230px;
      color: @white;

      h6{
        .brandon-black;
        font-size: 13px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        margin-bottom: -1px;
      }
      p{
        //.brandon-medium;
        .brandon-light;
        font-size: 13px;
        line-height: 15px;
        //letter-spacing: 0em;
        letter-spacing: 0.05em;
      }
    }

    #overlay-item-01{
      top: 49px;
      left: 626px;
    }

  }

  .image-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    //background: url('../bg/white.jpg') no-repeat center center fixed; 
    background: url('../bg/white.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*
    .image{
      img{
        width: 100%;
        height: auto;
      }
    }
    */
  }

} // #home-map



//    _   _ _______        __  ____   _    ____      _    _     _        _    __  __
//   | \ | | ____\ \      / / |  _ \ / \  |  _ \    / \  | |   | |      / \   \ \/ /
//   |  \| |  _|  \ \ /\ / /  | |_) / _ \ | |_) |  / _ \ | |   | |     / _ \   \  / 
//   | |\  | |___  \ V  V /   |  __/ ___ \|  _ <  / ___ \| |___| |___ / ___ \  /  \ 
//   |_| \_|_____|  \_/\_/    |_| /_/   \_\_| \_\/_/   \_\_____|_____/_/   \_\/_/\_\
//                                                                                  


//letter-spacing: .025em;

#home-seafront-text{
  h3{
    margin-left: -80px !important;
    margin-right: -80px !important;
    letter-spacing: .025em;
  }
}


#home-events-text{
  h3{
    margin-left: -80px !important;
    margin-right: -80px !important;
    letter-spacing: .025em;
  }
}




//       _    ____ _____ _____     _____ _____ ___ _____ ____  
//      / \  / ___|_   _|_ _\ \   / /_ _|_   _|_ _| ____/ ___| 
//     / _ \| |     | |  | | \ \ / / | |  | |  | ||  _| \___ \ 
//    / ___ \ |___  | |  | |  \ V /  | |  | |  | || |___ ___) |
//   /_/   \_\____| |_| |___|  \_/  |___| |_| |___|_____|____/ 
//                                                             

#home-activities-section{

  #home-activities-title{
    padding-top: 76px;
    text-align: center;
    padding-bottom: 39px;

    h3{
      font-size: 48px;
      line-height: 48px;
      color: @light-blue;
      letter-spacing: -0.02em;
    }

  }

}



#home-activities-item-container{
  .home-activities-item{
    text-align: center;
    padding: 0 30px;
    margin-bottom: 70px;

    .transition-in(0.4s);

    &:hover{
      .item-icon-icon{
        //.scale(1.2);
      }
    }

    .item-icon{
      display: table;

      width: 100%;
      //height: 100px;
      //height: 80px;
      height: 110px;

      //margin-bottom: 10px;

      .item-icon-icon{
        display: table-cell;
        vertical-align: middle;

        .transition-in(0.3s);
      }
    }

    hr.short-hr{
      background: @light-blue;
      .opacity(0.2);

      margin-top: 16px;
      margin-bottom: 16px;

    }
    

    h4{
      //font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.1em;

      margin-top: -5px;
      //margin-bottom: 11px;

      // suyeon
      font-size: 13px;
      margin-bottom: 10px;

      color: @dark-brown;
    }
    p{
      .brandon-light;
      //font-size: 14px;
      //line-height: 17px;
      letter-spacing: -0.01em;

      //padding: 0 30px;

      //margin-bottom: 17px;

      // suyeon
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 15px;

      color: @dark-brown;
    }

  }
} // #home-activities-item-container
  



#home-activities-cta-button-container{
  //margin-top: -3px;
  //padding-bottom: 34px;
  //
  margin-top: 35px;
  padding-bottom: 40px;

  .cta-button{
    width: 350px;
    display: block;
    margin: 0 auto;

    text-align: center;
  }
}