
.down-scroll-arrow{
  z-index: 2000;
}

#main-page-content{
  min-height: 100%;
}

#page-fold{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  #below-page-fold{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
  }
}



//     ____ ____      _    ____ ___ _____ _   _ _____ 
//    / ___|  _ \    / \  |  _ \_ _| ____| \ | |_   _|
//   | |  _| |_) |  / _ \ | | | | ||  _| |  \| | | |  
//   | |_| |  _ <  / ___ \| |_| | || |___| |\  | | |  
//    \____|_| \_\/_/   \_\____/___|_____|_| \_| |_|  
//                                                    

.bg-black-gradient{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -501px;
  margin-top: -415px;
  .bg_main_image_black_gradient;
  //.opacity(0.9);
  //.opacity(1);
}

.bg-white-gradient{
  .parallax_image_white_gradient;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -501px;
  margin-top: -415px;
}



.bg-black-rect{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: #000000;
  .opacity(0.6);
}


.black-menu-gradient{

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 122px;
  
  background: transparent url('../images/bg/bg_menu_black_gradient_1px.png') repeat-x;
}


//    ____   _    ____      _    _     _        _    __  __
//   |  _ \ / \  |  _ \    / \  | |   | |      / \   \ \/ /
//   | |_) / _ \ | |_) |  / _ \ | |   | |     / _ \   \  / 
//   |  __/ ___ \|  _ <  / ___ \| |___| |___ / ___ \  /  \ 
//   |_| /_/   \_\_| \_\/_/   \_\_____|_____/_/   \_\/_/\_\
//                                                         




@parallax-height: 953px;

.parallax-section{
  position: relative;
  width: 100%;
  height: @parallax-height;
  overflow: hidden;
  .add-clearfix();

  .data-container{
    display: none;
  }

  /*
  .text-container{
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: @parallax-height;

    .text{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
  */
 

  /*
  .image-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: url('../images/bg/white.jpg') no-repeat center center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  */

  //.optimize-02;
  

  .parallax-section-image-container{
    position: absolute !important;
    //top: 0;
    //left: 0;
    //
    //.optimize-02;

    .optimize-02;
    
    //.transition(0.01s);

    img{
      .optimize-02;
    }
  }
  .parallax-section-text-container{
    position: absolute !important;
    top: 0;
    left: 0;
  }

} // .parallax-section






.parallax-section-text{
  text-align: center;
  width: 390px;

  h3, hr.short-hr, h4, p, .cta-button{
    position: relative;
  }

  h3{
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: @light-blue;

    margin: 0 -20px;
  }
  hr.short-hr{
    margin-top: 14px;
    margin-bottom: 14px;

    background: @light-blue;
    .opacity(0.2);
  }
  h4{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    margin-bottom: 9px;
  }
  p{
    .brandon-light;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.0em;

    max-width: 390px;
    margin: 0 auto;
    margin-bottom: 17px;
  }
  .cta-button{
    display: block;
    padding-top: 16px;
    .transition-none();
  }
  
  &.white-version{
    color: @white;

    h3{
      color: @white;
    }

    hr.short-hr{
      background: @white;
      .opacity(1);
    }

    .cta-button{ 
      color: @white;

      &:hover{
        color: @white;
      }
      .fa{
        color: @white;
      }
    } // cta-button

  } // white-version

} // parallax-section-text





//    __  __    _    ___ _   _   ____  _     ___ ____  _____ ____  
//   |  \/  |  / \  |_ _| \ | | / ___|| |   |_ _|  _ \| ____|  _ \ 
//   | |\/| | / _ \  | ||  \| | \___ \| |    | || | | |  _| | |_) |
//   | |  | |/ ___ \ | || |\  |  ___) | |___ | || |_| | |___|  _ < 
//   |_|  |_/_/   \_\___|_| \_| |____/|_____|___|____/|_____|_| \_\
//                                                                 


@main-slider-height: 834px;

.main-slider{
  width: 100%;
  height: @main-slider-height;
  overflow: hidden;
  position: relative;



  .main-slider-text-container{
    position: absolute !important;
    top: 0;
    left: 0;

    .text-container{
    } // .text-container
  } // .main-slider-text-container

  .main-slider-image-container{
    position: absolute !important;
    top: 0;
    left: 0;
  }



  .text{
    text-align: center;
    width: 466px;
    //width: 450px;

    h3, h4, hr.short-hr, p, .cta-button{
      position: relative;
    }

    /*
    h3{
      font-size: 80px;
      line-height: 88px;
      color: @light-blue;
      letter-spacing: -0.05em;

      margin-bottom: 33px;
    }
    h4{
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 0.1em;

      margin-bottom: 6px;
    }
    hr.short-hr{

      background: @light-blue;
      .opacity(0.2);

      margin-top: 13px;
      margin-bottom: 16px;
    }

    p{
      .brandon-regular;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0;

      max-width: 390px;
      margin: 0 auto;
      margin-bottom: 22px;

      &:last-child{
        margin-bottom: 0px;
      }
    }
    */
   

    color: @dark-brown;

    h3{
      font-size: 48px;
      line-height: 48px;
      color: @dark-brown;
      letter-spacing: -0.03em;

      margin: 0 -50px;
      margin-bottom: 23px;

    }
    p{
      //.brandon-regular;
      .brandon-light;
      font-size: 17px;
      line-height: 20px;
      //letter-spacing: 0em;
      //letter-spacing: 0.05em;
      letter-spacing: 0em;
    }



    .cta-button{
      .transition-none();
    }

  } // .text


  .text.white-version{
    color: @white;
    h3{
      color: @white;
    }
    hr.short-hr{
      background: @white;
      .opacity(1);
    }

    .cta-button{ 
      color: @white;

      &:hover{
        color: @white;
      }
      .fa{
        color: @white;
      }
    } // .cta-button
    

  } // .text.white-version

  /*
  .text-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: @main-slider-height;
    z-index: 100;
  }
  */
}









//       _    ____ _____ _____     _____ _____ ___ _____ ____  
//      / \  / ___|_   _|_ _\ \   / /_ _|_   _|_ _| ____/ ___| 
//     / _ \| |     | |  | | \ \ / / | |  | |  | ||  _| \___ \ 
//    / ___ \ |___  | |  | |  \ V /  | |  | |  | || |___ ___) |
//   /_/   \_\____| |_| |___|  \_/  |___| |_| |___|_____|____/ 
//                                                             


.description-list-panel-container{
  height: 490px;

  .description-panel{

    text-align: center;

    padding-top: 49px;


    h3{
      font-size: 30px;
      line-height: 40px;
      letter-spacing: -0.02em;
      color: @light-blue;
    }
    h4{
      letter-spacing: 0.1em;
      font-size: 20px;
      line-height: 29px;

      margin-bottom: 16px;
    }
    hr.short-hr{
      background: @light-blue;
      .opacity(0.2);

      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 17px;
    }
    p{
      .brandon-light;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: -0.01em;

      max-width: 450px;
      margin: 0 auto;
      margin-bottom: 22px;

      &:last-child{
        margin-bottom: 0px;
      }
    }

  }
  .list-panel{

    padding: 0 94px;
    padding-top: 104px;

    .cta-back-button{
      position: absolute;
      top: 46px;
      right: 50px;
      
    }

    h4{
      letter-spacing: 0.1em;
      font-size: 20px;
      line-height: 29px;
    }
    hr.short-hr{
      background: @light-blue;
      .opacity(0.2);
      margin: 0;
      margin-top: 11px;
      margin-bottom: 14px;
    }
    ul{
      font-size: 0;
      margin-bottom: 32px;

      li{
        .display-inline-block;
        width: 50%;

        .brandon-light;
        //font-size: 14px;
        //line-height: 20px;
        letter-spacing: 0em;

        // suyeon
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 8px;
      }
    }


  }

}




//    ___ __  __    _    ____ _____   ____  _____ ____   ____ ____  ___ ____ _____ ___ ___  _   _ 
//   |_ _|  \/  |  / \  / ___| ____| |  _ \| ____/ ___| / ___|  _ \|_ _|  _ \_   _|_ _/ _ \| \ | |
//    | || |\/| | / _ \| |  _|  _|   | | | |  _| \___ \| |   | |_) || || |_) || |  | | | | |  \| |
//    | || |  | |/ ___ \ |_| | |___  | |_| | |___ ___) | |___|  _ < | ||  __/ | |  | | |_| | |\  |
//   |___|_|  |_/_/   \_\____|_____| |____/|_____|____/ \____|_| \_\___|_|    |_| |___\___/|_| \_|
//                                                                                                


.montigo-image-description{

  text-align: center;
  padding: 0 15%;

  width: 100%;
  height: 430px;
  display: table;

  .montigo-image-description-container{
    display: table-cell;
    vertical-align: middle;
  }

  

  h3{
    color: @light-blue;
    letter-spacing: -0.09em;
  }
  hr.short-hr{
    background: @light-blue;
    .opacity(0.1);

    margin-top: 18px;
    margin-bottom: 19px;
  }
  h4{
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.1em;

    margin-bottom: 15px;
  }
  p{
    .brandon-light;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0em;
    margin-bottom: 22px;

    &:last-child{
      margin-bottom: 0;
    }
  }
  .cta-button{
    display: block;
    padding-top: 9px;
  }
}