
@parallax-height: 953px;

.parallax-section{
  position: relative;
  width: 100%;
  height: @parallax-height;
  overflow: hidden;
  .add-clearfix();

  .text-container{
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: @parallax-height;

    .text{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

  .image-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: url('../images/bg/white.jpg') no-repeat center center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
} // .parallax-section




















//    ____  _     ___ ____  _____ ____  
//   / ___|| |   |_ _|  _ \| ____|  _ \ 
//   \___ \| |    | || | | |  _| | |_) |
//    ___) | |___ | || |_| | |___|  _ < 
//   |____/|_____|___|____/|_____|_| \_\
//                                      

@activities-slider-height: 834px;

#activities-slider{
  width: 100%;
  height: @activities-slider-height;
  overflow: hidden;
  position: relative;

  .text-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: @activities-slider-height;
    z-index: 100;

    .text{
      text-align: center;
      color: @white;

      h3{
        font-size: 94px;
        line-height: 94px;
        letter-spacing: 0.05em;
        margin-bottom: 13px;
        .rotation(-15deg);
      }

      .foot-icon{
        .activities_shoe_icon;
        margin: 0 auto;
        margin-bottom: 23px;
        position: relative;
        left: 7px;
      }

      h4{
        font-size: 17px;
        line-height: 26px;
        //letter-spacing: 0.13em;
        letter-spacing: 0.10em;
        //margin-bottom: 12px;
        
        // suyeon
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.1em;

      }
      hr.short-hr{
        background: @white;
        margin-top: 12px;
        margin-bottom: 17px;
      }

      p{
        .brandon-light;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0;

        //max-width: 500px;
        max-width: 420px;
        margin: 0 auto;
        margin-bottom: 20px;

        // suyeon
        //font-size: 17px;
        //line-height: 20px;
        //letter-spacing: 0.1em;
      }

    } // .text
  }

}



#activities-slider .text-container#specific-copy-03{
  .text{
    //margin-top: unit( ((50 / @image_height * 100) ) , ~"%");
    margin-top: 10%;
  }
}





//    _____ ___     _____  ____  ___ _____ _____ ____  
//   |  ___/ \ \   / / _ \|  _ \|_ _|_   _| ____/ ___| 
//   | |_ / _ \ \ / / | | | |_) || |  | | |  _| \___ \ 
//   |  _/ ___ \ V /| |_| |  _ < | |  | | | |___ ___) |
//   |_|/_/   \_\_/  \___/|_| \_\___| |_| |_____|____/ 
//                                                     


#activities-favorites-section{

  #activities-favorites-title{
    //padding-top: 121px;
    //padding-bottom: 82px;

    // suyeon
    padding-top: 100px;
    padding-bottom: 60px;

    text-align: center;

    h3{
      //font-size: 75px;
      //line-height: 75px;
      color: @light-blue;
      margin-bottom: -5px;

      // suyeon
      font-size: 60px;
      line-height: 60px;
      letter-spacing: 0.01em;
    }
    hr.short-hr{
      background: @light-blue;
      .opacity(0.2);
      margin-bottom: 28px;
    }
    h4{
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.1em;
      //margin-bottom: 21px;

      // suyeon
      margin-bottom: 15px;
    }
    p{
      //max-width: 600px;
      margin: 0 auto;
      font-size: 14px;
      line-height: 18px;

      // suyeon
      font-size: 15px;
      line-height: 22px;
      max-width: 50%;
    }
  } // #activities-favorites-title

  #activities-favorite-item-container{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 101px;
  }

  .activities-favorite-item{
    text-align: center;
    margin: 0 -10px;

    .img-full-width{
      margin-bottom: 13px;
    }

    h4{
      .brandon-bold;
      font-size: 13px;
      line-height: 18px;
      //letter-spacing: 0.1em;
      letter-spacing: 0.04em;

    }
    hr.short-hr{
      background: @light-blue;
      .opacity(0.2);
      margin-top: 10px;
      margin-bottom: 13px;

      // suyeon
      margin-bottom: 12px;
    }
    p{
      .brandon-light;
      //font-size: 14px;
      //line-height: 17px;
      letter-spacing: 0.005em;

      padding: 0 20px;

      // suyeon
      font-size: 14.5px;
      line-height: 18px;

    }
  } // .activities-favorite-item

} // #activities-favorites-section




//    ____  _____    _    
//   / ___|| ____|  / \   
//   \___ \|  _|   / _ \  
//    ___) | |___ / ___ \ 
//   |____/|_____/_/   \_\
//                        

#activities-sea-image-01{
  width: 100%;
  height: 570px;
}
#activities-sea-image-02{
  width: 100%;
  height: 520px;
}
#activities-sea-image-03{
  width: 100%;
  height: 230px;
}
#activities-sea-image-04{
  width: 100%;
  height: 520px;
}




#activities-sea-section{
  padding-bottom: 50px;

  #activities-sea-text-01{
    text-align: center;
    padding: 0 40px;
    padding-top: 61px;
    height: 570px;

    h6{
      .brandon-bold;
      font-size: 11px;
      line-height: 17px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

    }
    hr.short-hr{
      background: @light-blue;
      .opacity(0.2);

      margin-bottom: 30px;
    }
    h3{
      //font-size: 55px;
      //line-height: 61px;
      .rotation(-14deg);
      color: @light-blue;
      letter-spacing: 0.01em;

      //padding-top: 2px;
      margin-top: -2px;
      //padding-bottom: 13px;

      // suyeon
      font-size: 60px;
      line-height: 60px;
      padding-bottom: 10px;

    }
    h4{
      //font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.1em;

      margin-top: -5px;
      //margin-bottom: 11px;

      // suyeon
      font-size: 13px;
      margin-bottom: 10px;
    }
    p{
      .brandon-light;
      //font-size: 14px;
      //line-height: 17px;
      letter-spacing: -0.01em;

      //margin-bottom: 17px;

      // suyeon
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 15px;
    }

  }
  #activities-sea-text-02{
    height: 290px;
    //padding: 0 14px;
    //padding-top: 36px;

    // suyeon
    padding: 30px 25px;

    h4{
      //font-size: 14px;
      //line-height: 20px;
      letter-spacing: 0.1em;

      // suyeon
      font-size: 13px;
      line-height: 18px;

    }
    hr.short-hr{
      background: @light-blue;
      .opacity(0.2);

      //margin: 25px 0;
      
      // suyeon
      margin: 12px 0;
    }
    ul{
      font-size: 0;
      margin-bottom: 22px;

      li{
        .display-inline-block;
        width: 50%;

        .brandon-light;
        //font-size: 14px;
        //line-height: 20px;
        letter-spacing: 0em;

        // suyeon
        font-size: 15px;
        line-height: 22px;
        //margin-bottom: 15px;
      }
    }

  }

}

//     ____  ___  _     _____   ____   _    ____      _    _     _        _    __  __   ___  _ 
//    / ___|/ _ \| |   |  ___| |  _ \ / \  |  _ \    / \  | |   | |      / \   \ \/ /  / _ \/ |
//   | |  _| | | | |   | |_    | |_) / _ \ | |_) |  / _ \ | |   | |     / _ \   \  /  | | | | |
//   | |_| | |_| | |___|  _|   |  __/ ___ \|  _ <  / ___ \| |___| |___ / ___ \  /  \  | |_| | |
//    \____|\___/|_____|_|     |_| /_/   \_\_| \_\/_/   \_\_____|_____/_/   \_\/_/\_\  \___/|_|
//                                                                                             

#activities-parallax-01{
  .text{
    vertical-align: bottom !important;
  }

  #activities-parallax-01-text{
    color: @white;
    padding-bottom: 66px;

    h3{
      font-size: 70px;
      line-height: 70px;
      letter-spacing: 0.03em;
      margin: 0 -20px;

      .alpha-in-top; // js animation
    }
    hr.short-hr{
      background: @white;
      margin-top: 15px;
      margin-bottom: 24px;

      .alpha-in-top;
    }
    h4{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1em;
      margin-bottom: 11px;

      .alpha-in-top;
    }
    p{
      .brandon-light;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.0em;

      max-width: 470px;
      margin: 0 auto;
      margin-bottom: 17px;

      .alpha-in-top;

    }
  }
}



//    _____ ___ _____ _   _ _____ ____ ____  
//   |  ___|_ _|_   _| \ | | ____/ ___/ ___| 
//   | |_   | |  | | |  \| |  _| \___ \___ \ 
//   |  _|  | |  | | | |\  | |___ ___) |__) |
//   |_|   |___| |_| |_| \_|_____|____/____/ 
//                                           

#activities-fitness-image-01{
  width: 100%;
  height: 570px;
}
#activities-fitness-image-02{
  width: 100%;
  height: 240px;
}
#activities-fitness-image-03{
  width: 100%;
  height: 520px;
}


#activities-fitness{
  
  padding-top: 50px;
  padding-bottom: 50px;


  #activities-fitness-text-01{
    text-align: center;
    //padding: 0 40px;
    padding: 0 35px;
    //padding-top: 54px;
    //height: 570px;
    height: 1090px;

    display: table;

    .activities-fitness-text-01-container{
      display: table-cell;
      vertical-align: middle;
    }

    h6{
      .brandon-bold;
      font-size: 11px;
      line-height: 17px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
    hr.short-hr{
      background: @light-blue;
      .opacity(0.2);

      margin-bottom: 30px;
    }
    h3{
      font-size: 55px;
      line-height: 61px;
      .rotation(-14deg);
      color: @light-blue;
      letter-spacing: 0.01em;

      //padding-top: 2px;
      margin-top: -2px;
      padding-bottom: 13px;
    }
    h4{
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.1em;

      margin-top: -5px;
      margin-bottom: 12px;
    }
    p{
      .brandon-light;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.01em;

      margin-bottom: 17px;

      // suyeon
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0;
    }
  } // #activities-fitness-text-01

  #activities-fitness-text-02{
    height: 280px;
    //padding: 0 24px;
    //padding-top: 35px;

    padding: 30px 25px;

    h4{
      //font-size: 14px;
      //line-height: 20px;
      letter-spacing: 0.1em;

      // suyeon
      font-size: 13px;
      line-height: 18px;
    }
    hr.short-hr{
      background: @light-blue;
      .opacity(0.2);

      //margin: 25px 0;

      // suyeon
      margin: 12px 0;
    }
    ul{
      font-size: 0;
      margin-bottom: 42px;

      li{
        .display-inline-block;
        width: 50%;

        .brandon-light;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;

        // suyeon
        font-size: 15px;
        line-height: 22px;
      }
    }
  } // #activities-fitness-text-02

} // #activities-fitness


//    ____  ____   _      ____   _    ____      _    _     _        _    __  __   ___ ____  
//   / ___||  _ \ / \    |  _ \ / \  |  _ \    / \  | |   | |      / \   \ \/ /  / _ \___ \ 
//   \___ \| |_) / _ \   | |_) / _ \ | |_) |  / _ \ | |   | |     / _ \   \  /  | | | |__) |
//    ___) |  __/ ___ \  |  __/ ___ \|  _ <  / ___ \| |___| |___ / ___ \  /  \  | |_| / __/ 
//   |____/|_| /_/   \_\ |_| /_/   \_\_| \_\/_/   \_\_____|_____/_/   \_\/_/\_\  \___/_____|
//                                                                                          

#activities-parallax-02{
  #activities-parallax-02-text{
    color: @white;
    padding-bottom: 66px;

    h3{
      font-size: 70px;
      line-height: 70px;
      letter-spacing: -0.01em;

      .alpha-in-top;                // animation
    }
    hr.short-hr{
      background: @white;
      margin-top: 15px;
      margin-bottom: 20px;

      .alpha-in-top;
    }
    h4{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1em;
      margin-bottom: 17px;

      .alpha-in-top;
    }
    p{
      .brandon-light;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.0em;

      max-width: 320px;
      margin: 0 auto;
      margin-bottom: 17px;

      .alpha-in-top;
    }

    .small-circle-arrow-link{
      padding-top: 3px;
      color: @white;
      .fa{
        color: @dark-brown;
        background: @white;
      }
    }

    .circle-arrow-link{
      padding-top: 3px;
      color: @white;

      .alpha-in-top;
      .transition-in(0.2s);

      &:hover{
        color: @white;
      }

      .fa{
        color: @dark-brown;
        background: @white;
      }
    }

  }
}


//    _  _____ ____  ____  
//   | |/ /_ _|  _ \/ ___| 
//   | ' / | || | | \___ \ 
//   | . \ | || |_| |___) |
//   |_|\_\___|____/|____/ 
//                         

#activities-kids-image-01{
  width: 100%;
  height: 710px;
}
#activities-kids-image-02{
  width: 100%;
  height: 210px;
}

#activities-kids{
  //padding-top: 100px;
  padding-top: 50px;

  #activities-kids-text{
    

    #activities-tilo-icon{
      .activities_kids_tilo_icon;
      margin: 0 auto;
      margin-bottom: 20px;
    }


    text-align: center;
    padding: 0 40px;
    padding-top: 74px;
    height: 500px;

    hr.short-hr{
      background: @light-blue;
      .opacity(0.2);

      margin-top: 14px;
      margin-bottom: 30px;
    }
    h3{
      font-size: 55px;
      line-height: 61px;
      color: @light-blue;
      //letter-spacing: -0.01em;
      letter-spacing: 0.0em;

      //padding-top: 2px;
      margin: 0 -40px;
      margin-top: -2px;
    }
    h4{
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.1em;

      margin-top: -5px;
      margin-bottom: 12px;
    }
    p{
      .brandon-light;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.01em;

      margin-bottom: 17px;
    }

  }
}


//     ___ _____ _   _ _____ ____  ____  
//    / _ \_   _| | | | ____|  _ \/ ___| 
//   | | | || | | |_| |  _| | |_) \___ \ 
//   | |_| || | |  _  | |___|  _ < ___) |
//    \___/ |_| |_| |_|_____|_| \_\____/ 
//                                       

#activities-others{
  .activities-other-title{
    padding-top: 86px;
    //padding-bottom: 58px;

    // suyeon
    padding-bottom: 60px;
    text-align: center;

    h3{
      font-size: 54px;
      line-height: 54px;
      color: @light-blue;
      letter-spacing: 0.01em;
    }
  } // .activities-other-title

  #activities-others-item-container{
    .activities-others-item{
      text-align: center;
      //margin-bottom: 73px;

      // suyeon
      padding: 0 30px;
      margin-bottom: 70px;

      .item-icon{
        display: table;

        width: 100%;
        //height: 100px;
        //height: 80px;
        height: 110px;

        margin-bottom: 10px;

        .item-icon-icon{
          display: table-cell;
          vertical-align: middle;
        }
      }

      /*
      h4{
        font-size: 14px;
        line-height: 20px;
      }
      */
      hr.short-hr{
        background: @light-blue;
        .opacity(0.2);

        margin-top: 16px;
        margin-bottom: 16px;

      }
      /*
      p{
        .brandon-light;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0em;

        padding: 0 30px;
      }
      */


      h4{
        //font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1em;

        margin-top: -5px;
        //margin-bottom: 11px;

        // suyeon
        font-size: 13px;
        margin-bottom: 10px;
      }
      p{
        .brandon-light;
        //font-size: 14px;
        //line-height: 17px;
        letter-spacing: -0.01em;

        //padding: 0 30px;

        //margin-bottom: 17px;

        // suyeon
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 15px;
      }

    }
  }


} // #activities-others